.modal__container {
    height: 100%;
    overflow-x: hidden;
    color: #727274;
    background-color: #1f2225;
    border-color: #494d4d;
}

.modal__header {
    background-color: #2d3034;
    border-bottom-color: #494d4d;
    min-height: 54px;
    padding: 25px;
    position: relative;
    .currency-button {
        margin-right: 19px;
    }
    .icon-fullscreen {
        font-size: 1.5em;
        margin: 0 25px;
    }
}

.modal__title {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    .icon {
        font-size: .8em;
    }
    .icon-profit {
        margin-left: 25px;
    }

    .dashboard_link {
        display: inline;
        color: white;
        cursor: pointer;
        text-decoration-line: underline;
    }
}

.modal__body_text {
  font-size: 1.8em;
}
.modal__body {
    padding: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal__button {
    color: #fff;
    border-color: #44464a;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 7px 20px;
    margin-right: 20px;

    &:last-child{
        margin-right: 0;
    }

    &.active {
        background-color: #346255;
        color: white;
    }
    &:hover {
        color: white;
    }
}

.modal__button-wrapper {
    display: flex;
}

.modal__content {
    display: flex;
    justify-content: center;

    .commit_tokens_form {
        display: flex;
        align-items: center;
        flex-direction: column;

        .commit_tokens_field {
            min-width: 250px;

            .commit_tokens_input {
                border: 1px solid #44464a;
                border-radius: 3px;
                padding-left: 17px;
                text-align: left;
                color: #7c7c7d;
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                font-size: 1.6em;
                background-color: inherit;
                vertical-align: middle;
                transition-property: color, border-color;
                transition-duration: 400ms;
            }
        }
    }

    .create_group_form {
        display: flex;
        align-items: center;
        flex-direction: column;

        .create_group_container {
            .create_group_field {
                min-width: 250px;

                .create_group_input {
                    border: 1px solid #44464a;
                    border-radius: 3px;
                    padding-left: 17px;
                    text-align: left;
                    color: #7c7c7d;
                    width: 100%;
                    height: 40px;
                    box-sizing: border-box;
                    font-size: 1.6em;
                    background-color: inherit;
                    vertical-align: middle;
                    transition-property: color, border-color;
                    transition-duration: 400ms;
                }
            }
        }

        .group_select_wr {
            height: 40px;
            line-height: 40px;
            font-size: 1.6em;

            .add_keys_select_values_list_wr {
                top: 38px;
            }

            .add_keys_select_value {
                padding-right: 20px;

                .add_keys_select_value_bg {
                    margin-top: 10px;
                }
            }
        }
    }
}

.modal__input {
    height: 32px;
    border-radius: 2px;
    background-color: #2d3034;
    border: none;
    color: #9094A1;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

.modal__success-title {
    color: #28a745;
    font-size: 21px;
}

.modal__2fa-input {
    width: 300px;
    font-size: 28px;
    height: 52px;
    text-align: center;
}

.modal__input-wrapper {
    position: relative;
}

.modal__content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 15px;
    align-items: center;
}

.modal__secret-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.modal__qr-wrapper {
    padding: 15px;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 20px;
}

.modal__key-wrapper {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.modal__key-annotation {
    font-size: 18px;
    color: #d74c4b;
}

.modal__input-text-error {
    font-size: 15px;
    position: absolute;
    bottom: -10px;
    color: #d74c4b;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.modal__close {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        width: 2px;
        height: 20px;
        background-color: #fff;
    }

    &:before {
        transform: rotate(45deg);

    }

    &:after {
        transform: rotate(-45deg);
    }
}

@media (max-width: 768px) {
    .modal__main {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }

    .modal__title {
        font-size: 1em;
        max-width: 90%;
    }
    .modal__body_text {
      font-size: 1em;
    }
    .modal__header {
        padding: 15px;
    }

    .modal__close {
        width: 25px;
        height: 25px;
        top: 5px;
        right: 10px;
        &:before, &:after {
            right: 12px;
            width: 1px;
            height: 15px;
            background-color: #fff;
        }
    }

    .modal__content-wrapper {
        width: 100%;
        font-size: 12px;
    }

    .modal__qr-wrapper {
        padding: 20px;
    }

    .modal__body {
        padding: 10px;
        overflow: scroll;
        max-height: 50vh;
    }

    .modal__key-wrapper {
        font-size: 10px;
    }

    .modal__input-wrapper, .modal__2fa-input {
        width: 100%;
    }

    .modal__2fa-input {
        font-size: 22px;
        height: 42px;
    }

    .modal__button {
        font-size:  1em;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }

    .modal__success-title {
        color: #28a745;
        font-size: 13px;
        padding: 10px;
        text-align: center;
    }

    .modal__content {
        padding: 0;
    }
}
