.tariffs__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tariffs__header-label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 110px;
  width: 100%;
  height: 110px;
  border: 1px solid $color-main-green;
  color: $color-white;
  font-size: 2.5em;
  letter-spacing: 0.3px;
}
