.tariffs__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tariffs__header-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-main-green;
}
