.main-panel.container-fluid .tariffs__container {
  margin: 0;
  padding: 25px 300px 50px 30px;

  .row {
    border-bottom: 1px solid #494d4d;

    &:first-child {
      padding-bottom: 30px;
      border: none;
    }

    &:nth-child(3) {
      padding-top: 20px;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    padding: 10px 0 3px;
    font-family: 'maven_proregular';
    font-size: 1.4em;
    color: #727274;

    &.active {
      color: $color-main-green;
    }
  }

  .col:first-child {
    justify-content: flex-start;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
  }

  .tariffs__container-description {
    padding: 20px 0 30px;
    font-size: 1.2em;
    color: #6f6f71;
  }

  .tariffs__container-button-wrapper {
    display: flex;
    justify-content: center;

    .btn {
      margin: 0;
      color: white;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 10px;
    max-width: 100%;
  }
}
