.group_asset_wrapper {
  display: flex;
  width: 100%;

  .group-asset-block-wrapper {
    display: flex;
    width: 100%;

    .group-asset-form-wrapper,
    .group-asset-table-wrapper {
      display: flex;
      flex-direction: column;
      width: 55%;

      .add_contract_form_wrapper,
      .create_group_form_wrapper {
        border: 1px solid #494d4d;
        border-right: 0;
        border-radius: 0 0 0 4px;
        background-color: #232629;
        line-height: 52px;
        box-sizing: border-box;

        .add_contract_form_title,
        .create_group_form_title {
          display: flex;
          padding: 15px;
          border-bottom: 1px solid #494d4d;
          border-top: 0;
          background: #2d3034;
          line-height: 52px;
          box-sizing: border-box;
        }

        .create_group_container {
          display: flex;
          justify-content: space-between;

          .create_group_fields_wrapper {
            display: flex;
            width: 100%;
          }

          .create_group_field {
            width: 70%;
            height: 100%;
            margin: auto 15px;

            .create_group_input {
              border: 1px solid #44464a;
              border-radius: 3px;
              padding-left: 17px;
              text-align: left;
              color: #7c7c7d;
              height: 26px;
              box-sizing: border-box;
              line-height: 16px;
              font-size: 1.3em;
              background-color: inherit;
              width: 100%;
              vertical-align: middle;
              transition-property: color, border-color;
              transition-duration: 400ms;
            }
          }

          .create_group_field_select {
            width: 50%;
            margin-right: 15px;
          }

          .create_group_submit_wrapper {
            .create_group_submit {
              border: 0;
              min-width: 60px;
              height: 100%;
              border-left: 1px solid #44464a;
              background-color: #2d3034;
              color: #7c7c7d;
              transition-property: color, background-color;
              transition-duration: 400ms;
              transition: color 400ms, background-color 400ms;
              text-transform: uppercase;
              line-height: 26px;
              font-size: 1.3em;
              border-radius: 0 0 4px 0;

              &:hover {
                background-color: #346255;
                color: white;
              }

              &:disabled {
                opacity: .3;

                &:hover {
                  background-color: #2d3034;
                  color: #7c7c7d;
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }

    .group-asset-form-wrapper {
      display: flex;
      flex-direction: column;
      width: 45%;

      .add_contract_form_wrapper {
        border: 1px solid #494d4d;
        border-radius: 0 0 4px 0;
        background-color: #232629;
        line-height: 52px;
        border-top: 0;
        box-sizing: border-box;

        .add_contract_form_title {
          display: flex;
          background: #2d3034;
          border-bottom: 1px solid #494d4d;
          padding: 15px;
          box-sizing: border-box;
        }
      }
    }

    .details-contracts-table-wrapper,
    .created-groups-table-wrapper {
      .ReactTable {
        .rt-table {
          .rt-thead {
            .groups_header_wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 60px;
            }

            .rt-tr {
              padding-top: 0;
            }
          }
        }

        .rt-tr > :first-child {
          margin-left: 10px;
        }

        .rt-tr-group .rt-tr:not(.-padRow).-selected {
          background: #346255;
        }

        .rt-tr.-even {
          background: inherit;
        }
      }
    }

    .created-groups-table-wrapper {
      border-right: 0;
      border-bottom: 0;
      border-radius: 4px 0 0 0;

      .table_title_wrapper {
        display: flex;
        border-radius: 4px 0 0 0;
      }
    }

    .details-contracts-table-wrapper {
      border-radius: 0 4px 0 0;

      .table_title_wrapper {
        display: flex;
        border-radius: 0 4px 0 0;
      }

      .details-contracts-empty {
        height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7c7c7d;
        font-size: 2em;

        span {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1028px) {
  .group_asset_wrapper {
    .group-asset-block-wrapper {
      flex-direction: column;

      .group-asset-form-wrapper,
      .group-asset-table-wrapper {
        width: 100%;

        .created-groups-table-wrapper {
          width: 100%;

          .ReactTable {
            .rt-table {
              .groups_header_wrapper {
                display: inline-block !important;
                margin-top: 22px !important;
              }
            }

            .rt-tr-group {
              .rt-tr.-odd {
                background: #232629;
              }
            }
          }
        }

        .create_group_form_wrapper,
        .add_contract_form_wrapper {
          width: 100%;
          border: none;

          .create_group_container {
            flex-direction: column;

            .create_group_fields_wrapper {
              flex-direction: column;
            }

            .create_group_field {
              width: auto;
            }

            .create_group_field_select {
              width: auto;
              margin: auto 15px;
            }

            .create_group_submit_wrapper {
              display: flex;
              justify-content: center;
              margin-bottom: 15px;

              .create_group_submit {
                border: 1px solid #44464a;
                border-radius: 0;
                min-width: 200px;
                padding: 6px 0;
              }
            }
          }
        }

        .details-contracts-table-wrapper {
          width: 100%;
          min-height: 200px;
          background: #17191b;

          .details-contracts-empty {
            height: 100px;
          }

          .table_title_wrapper {
            margin-bottom: 22px;
          }
        }
      }
    }
  }
}
