.leaderboard__info {
    padding: 15px !important;
    background-color: #2D3034;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 20px;
    max-width: 600px;
}
.leaderboard__title {
    padding: 5px 10px !important;
    font-size: 14px;
    color: #fff;
}

.leaderboard__annotation {
    padding: 5px 10px !important;
    font-size: 12px;
    color: #6c757d;
}

#leaderboard__select {
    height: auto;
    border: 0;

    .dropdown-link {
        padding: 10px;

        div {
            width: auto;
        }
    }
}

.dropdown-popover {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 80vh;
    }
}

.leaderboard__select-name {
    padding: 10px;
    width: 150px;
}

.leaderboard__select-list-item
{
    padding: 10px;
    color: #7E8190;
    display: block;
    transition-property: background, color;
    transition-duration: 400ms;
    transition: background 400ms, color 400ms;
    
    &.active {
        background-color: rgba(144, 148, 161, 0.25);
    }
    
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width: 768px) {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 50vh;
    }
}


