.leaderboard__info {
    padding: 15px !important;
    background-color: #2D3034;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 20px;
    max-width: 600px;
}
.leaderboard__title {
    padding: 5px 10px !important;
    font-size: 14px;
    color: #fff;
}

.leaderboard__annotation {
    padding: 5px 10px !important;
    font-size: 12px;
    color: #6c757d;
}

#leaderboard__select {
    height: auto;
    border: 0;

    .dropdown-link {
        padding: 10px;

        div {
            width: auto;
        }
    }
}

.dropdown-popover {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 80vh;
    }
}

.leaderboard__select-name {
    padding: 10px;
    width: 150px;
}

.leaderboard__select-list-item
{
    padding: 10px;
    color: #7E8190;
    display: block;
    transition-property: background, color;
    transition-duration: 400ms;
    transition: background 400ms, color 400ms;
    
    &.active {
        background-color: rgba(144, 148, 161, 0.25);
    }
    
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.leaderboard__form {
  margin-bottom: 20px;
  .table_header_help_wrapper {
    padding-top: 0px;
  }
  .leaderboard__title {
    padding: 0px !important;
    margin-right: 20px;
  }
}

.leaderboard__form-submit {
  border-radius: 2px;
  background-color: #32B994;
  text-transform: uppercase;
  color: #161721;
  font-size: 12px;
  height: 32px;
  border: none;
  width: 100%;
  max-width: 300px;
  font-weight: 500;
  cursor: pointer;
  &:hover:active {
    opacity: 0.7;
  }
  &:disabled {
    background-color: #2d3034;
    cursor: default;
  }
}
.leaderboard__next-round {
  background: url(../assets/svg/001-check-mark-grey.svg) no-repeat left center;
  width: 100%;
  height: 18px;
  opacity: .8;
  display: inline-block;
  background-size: 15px;
  margin-top: 5px;
}

@media (max-width: 768px) {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 50vh;
    }
}


