.leaderboard__info {
    padding: 15px !important;
    background-color: #2D3034;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 20px;
    max-width: 600px;
}
.leaderboard__title {
    padding: 5px 10px !important;
    font-size: 14px;
    color: #fff;
}

.leaderboard__annotation {
    padding: 5px 10px !important;
    font-size: 12px;
    color: #6c757d;
}

#leaderboard__select {
    height: auto;

    .dropdown-link {
        padding: 10px;

        div {
            width: auto;
        }
    }
}

.dropdown-popover {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 80vh;
    }
}

.leaderboard__select-values-wrapper
{
    max-height: 0;
    height: auto;
    opacity: 1;
    position: absolute;
    z-index: 2;
    background: #232629;
    left: -1px;
    right: -1px;
    border: 1px solid #232629;
    border-top: 0 !important;
    border-bottom: 1px solid #44464a;
    box-sizing: border-box;
    top: 24px;
    transition-property: height, border, max-height;
    transition-duration: 400ms;
    transition: height 400ms, border 400ms, max-height 400ms;
    overflow: hidden;
}

.leaderboard__select-value {
    margin-left: 15px;
}


.leaderboard__select-value-bg
{
    background: url(../assets/img/SelectArrow.png) no-repeat center right;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}

.leaderboard__select-name {
    padding: 10px;
}

.leaderboard__select-list-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}
.leaderboard__select-list-item
{
    padding: 10px;
    color: #7E8190;
    display: block;
    transition-property: background, color;
    transition-duration: 400ms;
    transition: background 400ms, color 400ms;
    
    &.active {
        background-color: rgba(144, 148, 161, 0.25);
    }
    
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width: 768px) {
    .leaderboard__select-wrapper {
        padding: 0 !important;
        overflow: scroll;
        max-height: 50vh;
    }
}


