.keys_tables_wrapper .api_keys_table.table
{
  width: 55%;
  float: left;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.table_title_wrapper
{
  background: #2d3034;
  max-height: 50px;
  border-bottom: 1px solid #494d4d;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.tooltip-mobile-box {
  display: none;
  color: #727274;
  text-align: center;
  font-size: .75em;
  letter-spacing: 1px;
  border: 1px dashed #727274;
  line-height: 1.2;
  letter-spacing: 1.3;
  padding: 12px 15px 10px 19px;
  text-transform: none;
  height: 34px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  margin-top: 8px;

}

.api_keys_table .table_title_wrapper
{
  border-radius: 4px 0 0 0;
}
.table_title
{
  font-size: 1.8em;
  text-align: left;
  color: #727274;
  font-family: 'maven_proregular';
  text-transform: uppercase;
  height: 22px;
  line-height: 24px;
  padding-left: 25px;
  float: left;
  letter-spacing: 1px;
}

.api_keys_table .table_title
{
  background: url('../img/ApiKeysIcon.png') no-repeat left center;
}

.table_col_value
{
  vertical-align: middle;
  font-size: 1.3em;
  color: #7c7c7d;
  height: 100%
}
.table_col_value_a
{
  display: inline-block;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1;
  color: #b8b8ba;
  text-transform: uppercase;
}
.-selected .table_col_value,
.-selected .table_col_value_a
{
  color: #e1e1e1;
}
/*.table_col_value_a:before {*/
  /*content: "@";*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*font-size: 1.2em;*/
  /*margin-right: 2px;*/
/*}*/

.delete_key_button
{
  background: url(../img/DeleteKey.png) no-repeat center center;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: .2;
  transition-property: opacity, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}
.can_delete_key
{
  opacity: .4;
}
