.api_key_currencies_table
{
  width: 45% !important;
  float: left;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.api_key_currencies_table .table_title_wrapper
{
  border-radius: 0 4px 0 0;
}

.api_key_currencies_table {
  float: right;
  margin-top: -416px;
}

.table_requests_control_wr
{
  background: #2d3034;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-top: 1px solid #494d4d;
  z-index: 20;
}

.table_requests_control_text
{
  color: #b8b8ba;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: 15px;
  padding-left: 15px;
  float: left;
}

.table_requests_control_btns
{
  float: right;
}

.table_requests_btn
{
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'maven_probold';
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.table_requests_yes
{
  color: #32ba94;
  margin-right: 20px;
}
.table_requests_no
{
  color: #c94546;
  margin-right: 20px;
}

.last_header_column_currencies {
  display: inline;
}

.last_header_column_currencies .table_header
{
  display: table-cell;
  height: 40px;
  white-space: pre;
}

.last_header_column_currencies .sort_icon_wrapper
{
  display: block;
  height: 30px;
  margin-left: 0;
}

.api_key_currencies_table .table_title
{
  background: url('../img/Currencies.png') no-repeat left center;
}

.selected_header .sort_icon_wrapper {
  margin-left: 18px;
}

.currency_status_checkbox
{
  vertical-align: middle;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 1px solid #32ba94;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  transition: background-color 400ms;
}
.currency_status_checkbox.selected
{
  background-color: #32ba94;
  background-image: url(../img/StatusSelected.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px;
}
.currency_status_checkbox:hover
{
  background-color: rgba(50, 186, 148, 0.56);
}
.currency_select_all
{
  color: #7c7c7d;
  font-size: 1.2em;
  height: 20px;
  line-height: 20px;
}
