.selected_contract_table .table
{
}
.rate_field_wrapper
{
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.rate_field_wrapper .rating_bar
{
  margin-top: 10px;
}
.rate_field
{
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  height: 119px;
  margin: auto;
  font-size: 1.2em;
  padding-left: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
  resize: none;
  border-color: #494d4d;
  outline: none;
  color: #6c6c6e;
  transition-property: color, border-color;
  transition-duration: 400ms;
}
.rate_field::-webkit-input-placeholder {color:#6c6c6e;}
.rate_field::-moz-placeholder          {color:#6c6c6e;}/* Firefox 19+ */
.rate_field:-moz-placeholder           {color:#6c6c6e;}/* Firefox 18- */
.rate_field:-ms-input-placeholder      {color:#6c6c6e;}


.rate_field:focus
{
  border-color: #7c8888;
  color: #7c8888;
}

.rate_field:focus::-webkit-input-placeholder {color:#7c8888;}
.rate_field:focus::-moz-placeholder          {color:#7c8888;}/* Firefox 19+ */
.rate_field:focus::-moz-placeholder           {color:#7c8888;}/* Firefox 18- */
.rate_field:focus::-ms-input-placeholder      {color:#7c8888;}

.send_rate_btn_wr
{
  float: right;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
  margin-left: 20px;
}
.send_rate_btn
{
  width: 178px;
  height: 40px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1rem;
  border: 0;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  border-radius: 5px;
  display: inline-block;
  background: none;
  outline: none;
  padding: 0 38px;
  color: white;
  text-transform: uppercase;
  background: #2d3034;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;  
}
.send_rate_btn:hover
{
  background-color: #346255;
}
.rate_scale_wrapper
{
  margin-bottom: 35px;
}
.rate_scale_wrapper.rate_scale_form
{
  float: right;
  width: 50%;
}

.rate_scale_form .rating_bar
{
  height: 27px;
  line-height: 25px;
  float: right;
}

.rate_text
{
  text-indent: 1.5em;
  font-size: 1.5em;
  text-align: left;
  color: #6c6c6e;
  font-family: 'maven_proregular';
  padding-right: 10px;
  padding-bottom: 30px;
}
.rate_text_wrapper
{
  margin: 35px 15px;
  margin-bottom: 15px;
  position: relative;
}

.rate_button_wrapper
{
  margin-bottom: 20px;
  text-align: center;
}
