.contracts_table
{
}
.title_green_arrows_wrapper
{
  text-align: center;
}
.green_arrow
{
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/GreenTriangleTopGray.png) no-repeat center center
}

.-sort-asc .green_arrow
{
  background: url(../img/GreenTriangleBottom.png) no-repeat center center
}
.-sort-desc .green_arrow
{
  background: url(../img/GreenTriangleTop.png) no-repeat center center
}

.status_circle
{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
.status_circle.red
{
  background: #c94546;
}
.status_circle.green
{
  background: #60a754;
}
.status_circle.yellow
{
  background: #dcb14a;
}
.tx_link
{
  background: url(../img/TxLink.png) no-repeat center center;
  display: inline-block;
  width: 10px;
  height: 10px;
  transition: opacity 400ms;
  opacity: .7;
}
.tx_link:hover
{
  opacity: 1.0;
}

.status_desc_item
{
  text-align: left;
  margin-bottom: 10px;
}
.status_desc_item_cyrcle.green
{
  background: #60a754;
}
.status_desc_item_cyrcle.yellow
{
  background: #dcb14a;
}
.status_desc_item_cyrcle.red
{
  background: #c94546;
}
.status_desc_item_text
{
  color: #7c7c7d;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  vertical-align: middle;
}
.status_desc_item_cyrcle
{
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.table_header_wrapper.contract_header_wrapper
{
  display: inline;
}

.contract_header_wrapper .table_header
{
  display: table-cell;
  height: 50px;
  white-space: pre;
}

.contract_header_wrapper .sort_icon_wrapper
{
  display: block;
  height: 30px;
  margin-left: 0;
}

.small_column
{
  flex-grow: 50 !important;
}
.big_column
{
  flex-grow: 150 !important;
}
