.dashboard_wrapper
{
  padding: 55px;
}
.table_wrapper
{
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

.table_wrapper .table
{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #494d4d;
  border-radius: 4px;
  position: relative;
}
.keys_tables_wrapper
{
  width: 60%;
}

