.dashboard_wrapper
{
  padding: 55px;
}
.table_wrapper
{
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

.table_title_wrapper .table_title_tabs_wr
{
  margin-right: 20px;
  float: right;
}

.table_wrapper .table
{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #494d4d;
  border-radius: 4px;
  position: relative;
  margin-bottom: 0;
}
.keys_tables_wrapper
{
  width: 60%;
}
.requests_table_wrapper
{
  width: 40%;
}

.contracts_table_wrapper
{
  width: 100%;
}
.selected_contract_table
{
  width: 46%;
}
.traders_chart,
.contracts_chart
{
  width: 27%;
}

.table_title.center
{
  float: none;
  text-align: center;
  padding-left: 0;
}
.chart_title_total
{
  font-size: 1.3em;
  color: #727274;
  text-transform: uppercase;
  text-align: center;
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #494d4d;
}
.chart_title_total_span
{
  color: #adadad;
}

.charts {
  overflow: hidden;
  width: 100%;
  display: block;
  height: 205px;  
}

.chart_pie, .legend_pie_wrapper {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;

}

.legend_pie_wrapper {
  float: right;
  overflow-y: hidden;
}

.amChartsLegend
{
  letter-spacing: 1px;
}
.amcharts-chart-div > a
{
  color: white !important;
}
