.main-panel.container-fluid {
	.profile-item {
		&.container-fluid {

			.info-screen {

				.contract-setting-block {
					display: none;			
				}

				&.contract-block {
					.contract-setting-block {
						display: block;				
					}

				}
				.contract-setting-block {
					padding: 0 62px;			
					.edit-btn {
						margin: 23px 0;
						width: 180px;
						height: 40px;
						letter-spacing: 1px;
						border-radius: 5px;
						border: 0;
						background-color: #2d3034;
						text-transform: uppercase;
						&:hover, &.active {
							background-color: #346255;
						}
					}

					.title-setting {
						.title-text {
							.icon {
								margin-right: 15px;
								font-size: .8em;
								color: #727274;
							}
						    font-size: 2em;
						    color: #727274;
						    margin-top: 39px;
						    letter-spacing: 1px;


						}			
					}

					.accept-requests {
						margin-top: 31px;
						.accept-block {
							.text {
								font-size: 1.6em;
								color: #bfbfc1;
								text-transform: uppercase;
							}
							.switch {
								margin-right: 35px;
								margin-top: -1px;
								display: inline-block;
								position: relative;
								.cmn-toggle {
								  position: absolute;
								  margin-left: -9999px;
								  visibility: hidden;
								}
								.cmn-toggle + label {
								  display: block;
								  position: relative;
								  cursor: pointer;
								  text-transform: uppercase;
								  outline: none;
								  user-select: none;
								}
								input.cmn-toggle-round-flat + label.cmn-toggle-background {
								  padding: 2px;
								  width: 64px;
								  height: 24px;
								  background-color: #494d4d;
								  border-radius: 24px;
								  transition: background 0.4s;
								}
								input.cmn-toggle-round-flat + label.cmn-toggle-background:before, input.cmn-toggle-round-flat + label.cmn-toggle-background:after {
								  display: block;
								  position: absolute;
								  content: "";
								}
								input.cmn-toggle-round-flat + label.cmn-toggle-background:before {
								  top: 2px;
								  left: 2px;
								  bottom: 2px;
								  right: 2px;
								  background-color: #494d4d;
								  border-radius: 24px;
								  transition: background 0.4s;
								}
								input.cmn-toggle-round-flat + label.cmn-toggle-background:after {
								  top: 0px;
								  left: 0px;
								  bottom: 0px;
								  width: 24px;
								  background-color: #bfbfc1;
								  border-radius: 24px;
								  transition: margin 0.4s, background 0.4s;
								  box-shadow: 6px 0 1px rgba(0, 0, 0, 0.1);
							  
								}
								input.cmn-toggle-round-flat:checked + label.cmn-toggle-background {
								  background-color: #346255;
								}
								input.cmn-toggle-round-flat:checked + label.cmn-toggle-background:after {
								  margin-left: 41px;
								  background-color: #bfbfc1;
								  box-shadow: -6px 0 1px rgba(0, 0, 0, 0.1);
								}			
								input.cmn-toggle-round-flat:checked + label.cmn-toggle-background:before {
								  background-color: #346255;
								}
								.cmn-text {
									cursor: pointer;
									position: absolute;
									text-transform: uppercase;
								    top: 4px;
								    color: #bfbfc1;
								    font-size: 1em;
								}
								label.cmn-no-text {
									display: block;
									left: 36px;
									color: #bfbfc1;

								}				
								label.cmn-yes-text {
									color: #bfbfc1;
									left: 12px;
									display: none;
								}						
								input.cmn-toggle-round-flat:checked ~ label.cmn-no-text {
									display: none;
								}
								input.cmn-toggle-round-flat:checked ~ label.cmn-yes-text {
									display: block;
								}				
							}					
						}

						
					}

					.settings {
						.input-block {
							display: inline-block;
							&.amount-input-block {
								.form-control {
									width: 109px;
								}
							}
						}
						margin-top: 10px;
						.setting-block {
							margin-top: 18px;

							.input-group-btn {
								.btn {
									margin: 0;
								}
							}
						}
						.description-text {
							font-size: 1.3em;
							text-transform: uppercase;
							color: #bfbfc1;
						}
						.value-text {
							margin-top: 10px;
							font-size: 1.8em;
							color: #31b993;
							.days {
								color: #727274;
							}
							// position: relative;
						}
						.loss-input-block, .fee-input-block {
							.btn {
								width: 32px !important;
							}
						}	

						.input-group-btn.only-button {					
							.btn {
							    &.active {
									color: #bfbfc1;
									background-color: #346255;
							    }
							    &:hover {
							    	color: #bfbfc1;
							    }
							}
						}
						.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn.only-button > .btn:not(:last-child), .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
						    border-top-right-radius: 0 !important;
							border-bottom-right-radius: 0 !important;
						}				
						.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn.only-button > .btn:not(:first-child), .input-group-btn:not(:last-child) > .btn:not(:first-child), .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
							border-top-left-radius: 0 !important;
							border-bottom-left-radius: 0 !important;					
						}				
						.input-group {
							letter-spacing: 1px;
							height: 27px;
							margin-top: 10px;
							.form-control {
								border-radius: 5px;
								&[type=number]::-webkit-outer-spin-button,
								&[type=number]::-webkit-inner-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}

								&[type=number] {
									-moz-appearance:textfield;
								}
							}
							input {
								background-color: #1f2225;
							    border-color: #494d4d;
							    width: 109px;
							    color: #727274;
								line-height: 1;
								padding: 1px 13px;				    
							    font-size: 1.6em;
							    &::-webkit-input-placeholder {
							    	color: #505153;
							    }
							    &::placeholder {
							    	color: #505153;	
							    }					    					    
							}


							.input-group-btn {
								font-size: 10px;
								.btn {
									text-transform: uppercase;
									height: 27px;
									letter-spacing: 1px;
								    background-color: transparent;
								    border-color: #494d4d;
								    color: #505153;
								    width: 60px;
								    border-radius: 5px;
								    font-size: 1.2em;
								    padding-top: 5px;
								}					
							}
						}
					}
					.currency-button-block {
						.input-group {
							.input-group-btn {
								.btn {
									width: 56px;
								}
							}
						}
					}

					.choose-btn-group {
						.send-request-btn {
							margin-left: 40px;	
						}
						
					}
				}
			}
			@include media-breakpoint-down(sm) {
				.info-screen {
					.contract-setting-block {
						padding: 0;
						background-color: #17191b;
						.title-setting {
							.title-text {
								font-size: 1.6em;
								margin-top: 28px;
								margin-left: 33px;
								.icon {
									margin-right: 12px;
								}						
							}

						}				
						.accept-requests {
							//padding: 0 80px;
							margin-top: 28px;
							height: 36px;
							background-color: #202224;
							.accept-block {
								 // padding: 24px 80px 0px;
								 padding: 10px 13px 0 36px;
								.text {
									font-size: 1.2em;
								}
								.switch {
									margin-top: -2px;
									input.cmn-toggle-round-flat + label.cmn-toggle-background {
										width: 52px;
										height: 22px;
										background-color: #494d4d;
										border-radius: 12px;
									}
									input.cmn-toggle-round-flat + label.cmn-toggle-background:after {
										width: 22px;
										border-radius: 22px;
									}
									input.cmn-toggle-round-flat:checked + label.cmn-toggle-background:after {
										margin-left: 29px;
									}
									label.cmn-no-text {
										left: 29px;
									}
									label.cmn-yes-text {
										left: 7px;
									}
									.cmn-text {
										top: 3px;
									}
								}

							}
						}

						.settings {
							// padding: 0 80px;
							padding: 0 45px 0 35px;
							margin-top: 2px;
							letter-spacing: 1px;
							.description-text {
								font-size: 1.1em;
							}
							.value-text {
								margin-top: 6px;
								font-size: 1.5em;
							}
							.edit-money-block {
								margin-top: 29px;
							}
							.amount-block, .fee-block {
								margin-top: 32px;
							}

							.input-block {
								&.duration-block {
									.input-group {	
										input {
											width: 77px;
										}
									}
								}
								.input-group {
									height: 20px;
									margin-top: 7px;
									letter-spacing: 3px;
									.form-control {
										border-radius: 2px;
									}
									input {
										width: 58px;
										height: 20px;
										line-height: 20px;
										font-size: 1.5em;
			    						padding: 1px 10px;
			    						padding-left: 10px;
									}
									.input-group-btn {
										.btn {
											height: 20px;
											width: 38px;
											border-radius: 2px;
										    font-size: 1.1em;
											padding: 1px 0px 0 1px;
										}
									}
								}
								&.loss-input-block, &.fee-input-block{
									.input-group {
										.input-group-btn {
											.btn {
												width: 24px !important;
											}
										}
									}
								}
								&.amount-input-block {
									.input-group {
										input {
											width: 77px;		
										}
									}
									
								}	
							}
						}
						.tooltip-text-block {
							padding-left: 31px;
							padding-right: 31px;
							margin-top: 29px;					
							.tooltip-mobile-box {
								color: #727274;
								margin-bottom: 12px;
								font-size: 1.2em;
								border: 1px dashed #727274;
								line-height: 1.3;
								letter-spacing: 1px;
								padding: 11px;
								text-transform: none;
								height: 66px;
								min-width: 254px;
							}					
						}

						.edit-btn {
							height: 34px;
							width: 140px;
							border-radius: 2px;
							margin: 15px 0;
							margin-bottom: 102px;
							font-size: 1.3em;
							letter-spacing: 2px;
						}

						.choose-btn-group {
							padding: 0 45px 0 35px;
						}						
					}
				}
			}
		}
	}
}

