.ReactTable {
  overflow: hidden;
}


.ReactTable .-loading {
  display: none;
}

.ReactTable .rt-tr
{
  flex: 1 0 auto;
  display: inline-flex;
}

.ReactTable .rt-tr:first-child
{
  text-align: center;
}
.ReactTable .rt-tr > :first-child
{
  padding-left: 15px;
  text-align: left;
}
.rt-resizable-header-content
{
  color: #e1e1e1;
  line-height: 30px;
  font-family: 'maven_pro_light300';
}
.ReactTable .rt-thead .rt-tr
{
  width: 100%
}

.ReactTable .rt-tr {
  min-height: 30px;
}

.-filters .rt-th
{
  padding-top: 4px;
  padding-bottom: 20px;
}
.rt-tbody
{
  border-top: 1px solid #494d4d;
}

.ReactTable .rt-tr-group {
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ReactTable .rt-tbody {
  flex: 99999 1 auto;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.ReactTable .rt-table {
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.ReactTable .rt-tr-group .rt-tr.-even {
  background: #232629;
}
.ReactTable .rt-tr-group .rt-tr:hover {
  background: #2c2f33;
}
.ReactTable .rt-tr-group .rt-tr {
  transition: background 400ms;
  cursor: pointer;
  border-bottom: 1px solid #2c2f33;
  min-height: 30px;
  line-height: 30px;
}
.ReactTable .rt-tr-group .rt-tr.-selected {
  background: #346255;
}

.table_value_red
{
  color: #c34445;
}
.table_header
{
  font-size: 1.6em;
}
.table_filter_wrapper
{
  padding: 15px 0 20px 0;
}

.sort_triangle
{
  height: 6px;
  width: 6px;
  display: inline-block;

}

.-sort-asc .table_header:after
{
  content: url(../img/GreenTriangleBottom.png);
}
.-sort-desc .table_header:after
{
  content: url(../img/GreenTriangleTop.png);
}



/*.ReactTable .rt-td {*/
  /*color: #b8b8ba;*/
/*}*/
/*.ReactTable .rt-th {*/
  /*color: #e1e1e1;*/
/*}*/

