.ReactTable {
  overflow: hidden;
}


.ReactTable .-loading {
  display: none;
}

.ReactTable .rt-tr
{
  flex: 1 0 auto;
  display: inline-flex;
}

.ReactTable .rt-tr:first-child
{
  text-align: center;
}
.ReactTable .rt-tr > :first-child
{
  margin-left: 15px;
  text-align: left;
}
.api_key_currencies_table .ReactTable .rt-tr > :first-child {
 text-align: center; 
}
.rt-resizable-header-content
{
  color: #e1e1e1;
  font-family: 'maven_pro_light300';
}
.ReactTable .rt-thead .rt-tr
{
  width: 100%;
  padding-top: 15px;
}

.ReactTable .rt-tr {
  min-height: 30px;
}

.-filters .rt-th
{
  padding-top: 4px;
  padding-bottom: 20px;
}
.rt-tbody
{
  border-top: 1px solid #494d4d;
}

.ReactTable .rt-tr-group {
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ReactTable .rt-tbody {
  flex: 99999 1 auto;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.ReactTable .rt-table {
  flex: 1 1 0%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
}

.ReactTable .rt-tr-group .rt-tr.-even {
  background: #232629;
}
.ReactTable .rt-tr-group .rt-tr:hover {
  background: #2c2f33;
}
.ReactTable .rt-tr-group .rt-tr {
  transition: background 400ms;
  cursor: pointer;
  border-bottom: 1px solid #2c2f33;
  min-height: 30px;
  line-height: 30px;
}
.ReactTable .rt-tr-group .rt-tr.-selected {
  background: #346255;
}
.ReactTable .rt-td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;    
}
.table_value_red
{
  color: #c34445;
}
.table_header
{
  font-size: 1.6em;
  line-height: 1.4;
  vertical-align: middle;
}
.table_header_wrapper
{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: 'maven_proregular';
  height: 80px;
  line-height: 1;
}
.table_filter_wrapper
{
  padding: 15px 0 20px 0;
  max-width: 150px;
}

/*.ReactTable .rt-td {*/
  /*color: #b8b8ba;*/
/*}*/
/*.ReactTable .rt-th {*/
  /*color: #e1e1e1;*/
/*}*/

.sort_icon_wrapper
{
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
.sort_icon_wrapper.position_down_icon_wrapper {
  display: block;
  margin: 0;
}
.table_header_help_wrapper
{
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(../img/HelpIcon.png) no-repeat center center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
  overflow: hidden;
}
.table_header_help_wrapper:hover
{
  overflow: visible;
}
.table_header_help_text
{
  position: absolute;
  height: 0;
  top: -5px;
  right: 15px;
  transition-property: height;
  transition-duration: 400ms;
  color: #bdbdbd;
  font-size: 1.2em;
  text-align: left;
  width: 100px;
  left: -142px;
  top: -8px;
}
.table_header_help_text:after
{
  content: "";
  position: absolute;
  width: 12px;
  height: 17px;
  right: -12px;
  top: 5px;
  background: url(../img/HelpLeftTriangle.png) no-repeat center center;
}
.ReactTable .rt-td.table_col_delete {
  text-align: left !important;
}
.table_header_help_wrapper:hover .table_header_help_text
{
  height: auto;
  line-height: 1.4;
  background: #2d3034;
  border: 1px solid #494d4d;
  padding: 10px;
  z-index: 2;
}
