.hashlog__main {
    padding: 20px !important;
    display: flex;
    flex-direction: column;
}

.hashlog__main-title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.hashlog__table-cell {
  padding-left: 10px;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:first-child {
    justify-content: start;
  }
}

.hashlog__copied-block {
  margin-bottom: 10px;
}

.hashlog__acion-list-table-cell {
  display: flex;
  word-break: break-word;
  text-align: left !important;
  justify-content: start;
  align-items: center;
  padding: 10px !important;
}

.hashlog__table-cell_hash-value {
  text-align: left !important;
  overflow: visible !important;
}

.hashlog__main-board {
  margin-bottom: 70px;

  .rt-tr {
    align-items: center;
  }
}

.hashlog__table-header-title {
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: none;
}

.hashlog__table-unformatted {
  background-color: #393d42;
  margin-bottom: 10px;
}

.hashlog__copy-button {
  line-height: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #393d42;
  text-transform: uppercase;
  color: #fff;
  
  &:hover {
    background-color: #346255;
  }
}

.hashlog__mobileActionListItemWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #393d42;
}

.hashlog__mobileActionListRow {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-top: 10px;
  }
}

.hashlog__mobileActionListTitle {
  width: 30%;
  color: #fff;
  font-size: 10px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.hashlog__mobileActionListValue {
  font-size: 10px;
  width: 70%;
  color: #fff;
  padding-bottom: 10px;
  vertical-align: middle;
}

.hashlog__table-unformatted-pre {
  white-space: pre-wrap;
  text-align: left;
  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
}

@media (max-width: 1028px) {
  .hashlog__table-cell {
    font-size: 10px !important;
  }

  .hashlog__copied-block {
    word-break: break-all;
  }

  .hashlog__info-board {
    margin-bottom: 30px;
  }

  .hashlog__table-unformatted-pre {
    font-size: 8px;
  }

  .hashlog__acion-list-table-cell {
    padding: 5px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 768px) {
  .hashlog__table-header-title {
    font-size: 10px;
  }
}