*{
	&::-webkit-scrollbar-track
	{
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
		// border-radius: 100px;
		background-color: transparent;
		// width: 4px;
	}

	&::-webkit-scrollbar
	{
		width: 6px;
		height: 4px;
		background-color: transsparent;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 100px;
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: rgba(#9094A1,.5);
	}
	&::-webkit-scrollbar-corner{
		background-color: transparent;
	}
}
button{
	cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.header-status {
	background-color: #35393D;
	height: 50px;
	font-size: 12px;
	padding: 0 0 0 20px;

	.curses {
		border-right: 1px solid rgba(#fff,.1);
		display: block;
		text-align: center;
		padding: 0 10px !important;

		&:first-child {
			padding-left: 0 !important;
		}

		&-name {
			color: #9094A1;
		}

		&-val {
			color: #fff;
		}

		&-change {
			&.up {
				color: #2DAE82;
			}

			&.down {
				color: #D74C4C;
			}
		}

		.icon {
			margin: 0;
			color: inherit;
			line-height: 10px;
		}
	}
}

.container-fluid {
	.dropdowns {
		margin: 20px!important;
		margin-bottom: 10px!important;
		position: relative;

		.dropdown {
			display: none;

			&-link {
				display: block;
				color: #9094A1;
				text-decoration: none;
				cursor: pointer;
				font-size: 12px;

				&:hover {
					opacity: .7;
				}

				&-wrap {
					position: relative;
					margin-bottom: 10px;
					margin-right: 12px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.dropdown-popover {
	.arrow {
		display: none;
	}
	background-color: #2D3034;
	border: 1px solid #4F525D !important;
	padding: 0 !important;
	margin-top: -29px !important;
	max-width: 500px !important;

	&--select {
		border-radius: 2px !important;
		margin-left: 7px;
		margin-top: -27px !important;
	}

	.popover-body {
		font-size: 12px;
		font-family: "SF-UI" !important;
		color: #7E8190 !important;
		padding: 0 !important;
	}

	.dropdown {
		display: block;
		padding: 10px !important;
		text-transform: uppercase;
		letter-spacing: 1px;

		&__name {
			margin-bottom: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			.arrow_down {
				transform:rotate(180deg);
				width: 10px;
				height: 18px;
				background-image: url('../assets/svg/arrow_down.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		&.keys {
			min-width: 160px;
		}
		&.roi {
			text-transform: none;
			min-width: 106px;
		}
		&.roi, &.time,&.exchange,&.keys{
			padding: 0 !important;
			.dropdown{
				&__name{
					padding: 10px;
					padding-bottom: 0;
				}
			}
			.time__switch,.exchange__switch,.key{
				white-space: nowrap;
				padding: 4px 10px;
				cursor: pointer;
				&.active{
					color: #fff;
					background-color: rgba(144, 148, 161, 0.25);
				}
				&:hover{
					color: #fff;
				}
			}
		}
		&.exchange{
			width: 100px;
			text-transform: uppercase;
		}
		&.search{
			min-width: 290px;
			.dropdown{
				&__form{
					margin-bottom: 10px;
					.input-search{
						width: 100%;
						height: 32px;
						border-radius: 2px;
						background-color: #1E2225;
						border: none;
						color: #9094A1;
						padding: 0 10px;
						font-size: 12px;
						&::placeholder{
							color: #9094A1;
						}
						&:focus{
							outline: none;
						}
						&:focus::placeholder{
							color: transparent;
						}
						// &:focus::-webkit-input-placeholder { color:transparent; }
						// &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
						// &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
						// &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
					}
				}
				&__btn{
					color: #FFB300;
					border: 1px solid #FFB300;
					background-color: transparent;
					width: 32%;
					&:hover{
						opacity: .7;
					}
					&:focus{
						outline: none;
					}
					&.active{
						background-color: #FFB300;
						color: #161721;
						&:hover{
							opacity: 1;
						}
					}
					&-wrap{
						display: flex;
						justify-content: space-between;
						margin-bottom: 10px;
					}
				}
			}
		}
		&-table-wrapper {
			overflow: auto;
			position: relative;
			max-height: 196px;
		}
		.key {
			margin-bottom: 6px;

			&.active {
				color: #fff;
				background-color: rgba(144, 148, 161, 0.25);
			}

			&:hover {
				color: #fff;
			}
		}
		.table{
			margin-bottom: 0;
			font-size: 10px;
			&-wrap{
				width: 100%;
				overflow: scroll;
			}
			th{
				font-size: 10px;
				color: #5B5F67;
			}
			th,td{
				padding: 5px 4px;
				// height: 100%;
				white-space: nowrap;
				.icon{
					margin-right: 0;
				}
				&:first-child {
					padding-left: 10px;
				}
				&:last-child {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			th{
				// padding: 5px 10;
				font-family: "SF-UI"!important;
			}
			td:first-child{
				color: #fff;
			}
			tr{
				&.down{
					td:nth-child(4){
						color: #D74C4C;
					}
				}
				&.up{
					td:nth-child(4){
						color: #32B994;
					}
				}
			}
		}
	}
}

.arrow_down{
	display: inline-block;
	width: 10px;
	height: 6px;
	background-image: url('../assets/svg/arrow_down.svg');
	background-repeat: no-repeat;
}
.tab-content{
	height: 100%;

}
.tab-pane{
	height: 100%;
}
.terminal,.orders,.ratings,.history{
	&>div{
		height: auto;
	}
	table{
			thead th{
				border: none;
				text-transform: none;
				font-size: 12px;
				white-space: nowrap;
				cursor: pointer;
				font-family: "SF-UI"!important;
				color: #5B5F67;
				.icon-dir {

					&.sort {
						opacity: .7;
						color: #fff;
					}
				}
				&:hover{
					.icon-dir {
						opacity: 1;
					}
					color: #fff;
				}
			}
			tr{
				// display: block;
				// width: 100%;
				// height: 25px;
			}
			th,td{
				border: none;
				height: 100%;
				padding: 5px 10px;
				font-weight: 500;
				vertical-align: middle;
				height: 100%;
			}

			td{
				font-size: 12px;
			}
			tr:first-child td:first-child { border-top-left-radius: 2px; }
			tr:first-child td:last-child { border-top-right-radius: 2px; }
			tr:last-child td:first-child { border-bottom-left-radius: 2px; }
			tr:last-child td:last-child { border-bottom-right-radius: 2px; }

			tbody tr:nth-child(2n-1){
				background-color: rgba(#222529,.5);
			}
			tbody tr{
				&:hover{
					cursor: pointer;
					border-radius: 2px;
					background-color: rgba(#9094A1,.25);
				}

			}
		}
}


.table-rewind {
	padding: 20px 0 !important;  /* It's like some kind of fkng hell!11   And there's nothing I can do about it. Because someone wrote "_root_ > div { padding: 0; }" at the top of css hierarchy :'(  */
	padding: 20px 0;
	display: flex;
	justify-content: center;
	font-size: 12px;

	&__button {
		margin: 0 10px;
		padding: 7px 12px;
		background-color: #2D3034;
		border: none;
		outline: none;
		border-radius: 2px;
		display: inline-block;
		line-height: 14px;
		min-height: 32px;
		min-width: 55px;
		text-align: center;
		transition: box-shadow .1s ease;
		&:active {
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .65);
		}
		&:focus {
			outline: none;
		}

		&--prev,
		&--next {
			.arrow {
				background-position: center center;
				background-repeat: no-repeat;
				display: inline-block;
				margin: 2px 0 -1px;
				height: 1.165em;
				width: 1.165em;
			}
		}

		&--prev {
			.arrow {
				background-image: url(../assets/svg/arrow-right.svg);
				transform: rotate(180deg);
			}
		}

		&--next {
			.arrow {
				background-image: url(../assets/svg/arrow-right.svg);
			}
		}

		.table-rewind--dark & {
			background-color: #272b2f;
		}
	}
}

/*
	ohO_oho: Tablet and up (>576px)
 */
@include media-breakpoint-up(sm) {
	.table-rewind {
		display: none;
	}
}

@include media-breakpoint-down(xs) {
	.dropdown-popover {
		.dropdown-table-wrapper {
			max-height: calc(100vh - 290px);
			min-height: 140px;
		}
		max-width: 370px;
		.dropdown .table {
			th, td {
				&:nth-child(5) {
					display: none;
				}
			}
		}
	}
}
