$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 1028px,
  lg: 1232px,
  xl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 1076px,
  lg: 1200px,
  xl: 1720px
);

$tooltip-color: #7c7c7d;
$tooltip-bg: #2d3034;
$tooltip-opacity: 1;
$tooltip-arrow-width: 7px;
$tooltip-arrow-height: 7px;
.tooltip-inner {
  font-family: 'maven_proregular';
  box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.22);
  font-size: 14px;
}


@import 'bootstrap/scss/bootstrap';




html {
	color: white;
}
body {
	min-height: 100vh;
	font-size: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #1f2225;
    color: white;
    //TODO добавить в menu-panel
/*    font-family: 'maven_proregular';
    letter-spacing: 1px;
    text-transform: uppercase;*/
}
button,.btn:focus,.btn:active {
	outline: 0 !important;
	box-shadow: none !important;
}
button,.btn.focus, .btn:focus {
	outline: 0 !important;
	box-shadow: none !important;
}
.icon {
	color: #494d4d;
}

.text-underline {
	display: inline-block;
	hr {
		margin-top: -3px;
	    margin-bottom: 0;
	    border: 0;
	    border-top: 3px solid;
	    border-color: inherit;
	}
}

.popover {
	max-width: 123px;
    font-size: 9px;
    line-height: 1.7em;
	border-color: #494d4d;
	background-color: #2d3034;
	text-transform: none;
	font-family: 'maven_proregular';
	.popover-body {
		color: #7c7c7d;
		padding: 15px 7px 13px 13px;
		letter-spacing: 1px;
		.green {
			color: #346255;
		}
		.red {
			color: #953a3a;
		}
	}
	border-radius: 0;

}
.choose-help-popover {
	line-height: 1.8em;
    width: 95px;
    .popover-body {
    	padding: 10px 8px 9px 10px;
    }
}
.red-border-popover {
	border-color: #ba3b3b !important;
	font-size: 11.5px;
    line-height: 1em;
    max-width: 134px !important;
	.popover-body {
		text-align: center;
		 padding: 15px 7px 13px 7px;
		.red {
			color: #ca3c3c !important;
		}
	}
	.arrow::before {
		border-right-color: #ba3b3b !important;
	}
}

.request-popover {
	max-width: 133px !important;
	line-height: 1.5em !important;
	.popover-body {
		padding: 7px 15px 9px 13px;
		text-align: center;
		font-size: 11.5px !important;
	}
}

.popover.bs-popover-auto[x-placement^=right] .arrow::before, .popover.bs-popover-right .arrow::before {
	 border-right-color: #494d4d;
}

.popover.bs-popover-auto[x-placement^=right] .arrow::after, .popover.bs-popover-right .arrow::after {

	 border-right-color: #2d3034;
}
.popover.bs-popover-auto[x-placement^=left] .arrow::before, .popover.bs-popover-left .arrow::before {
	 border-left-color: #494d4d;
}

.popover.bs-popover-auto[x-placement^=left] .arrow::after, .popover.bs-popover-left .arrow::after {

	 border-left-color: #2d3034;
}

@import 'styles/components/navigation';
@import 'styles/components/profile/profile';
@import 'styles/font/font_icon';
