.main-panel.container-fluid .payments__container {
  margin: 0;
  width: 1110px;
  padding: 50px 0 60px 50px;
  color: $color-main-text;

  .payments__purchase {
    position: relative;
    margin-top: 25px;

    &:not(:last-child) {
      border-bottom: 2px solid $color-col-gray;
    }

    &.active {
      color: $color-white;
    }

    .icon-checkmark {
      position: absolute;
      top: -2px;
      left: -22px;
      width: 20px;
      height: 20px;
      background-color: $color-main-green;
      -webkit-mask:  url(../assets/svg/icon-check-mark.svg) no-repeat 50% 50%;
      mask: url(../assets/svg/icon-check-mark.svg) no-repeat 50% 50%;
    }
  }

  .payments__title {
    font-size: 36px;
    color: $color-main-text;
    font-family: 'maven_proregular';
    text-transform: uppercase;

    @include media-breakpoint-down(xs) {
      font-size: 18px;
      text-align: center;
    }
  }

  .payments__step-container {
    margin-bottom: 20px;

    & > div {
      font-size: 18px;
      color: $color-main-text;
      font-family: 'maven_proregular';

      @include media-breakpoint-down(xs) {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .payments__step {
    font-size: 18px;
    color: $color-main-text;
    font-family: 'maven_proregular';
    text-transform: uppercase;
    margin-bottom: 0;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      text-align: center;
    }
  }

  .payments__subtitle {
    @extend .payments__step;
    margin-bottom: 10px;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      text-align: center;
    }
  }

  .payments__description {
    margin-bottom: 25px;
    font-size: 16px;
    color: $color-white;
    font-family: 'maven_proregular';

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      text-align: center;
    }
  }

  .payments-generate-button {
    color: $color-main-green;
    margin: 0;
    padding: 0 5px;
    border: none;
    background: transparent;
  }

  @include media-breakpoint-down(xs) {
    padding: 20px;
    max-width: 100%;
  }
}
