.login_wrapper
{
  width: 100%;
  position: relative;
  height: 100%;
  background: url(../img/LoginBg.jpg) no-repeat center center;
  background-size: cover;
}
.login_steps
{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;  
}
.login_title_wrapper {
  margin-bottom: 60px;
}

.login_title_img_wr {
  display: inline-block;
  vertical-align: middle;
}
.login_title_text
{
  font-size: 4.6em;
  display: inline-block;
  vertical-align: middle;
  color: #00b891;
  font-family: 'maven_pro_light200';
  margin-left: 20px;
}

.login_bg {
  position: absolute;
  z-index: -1;
  background: url(../img/LoginBg.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.demo_button_wr
{
  padding-top: 40px;
  clear: both;
}
@media only screen and (max-width : 1400px) {
  .login_content
  {
    width: 100%;
    margin-left: 0;
    left: 0;
    box-sizing: border-box;
    
    font-size: 8px;
  }

}
@media only screen and (max-width : 1028px) {
   .login_content {
    height: calc(100vh + 100px);
  } 
}
@media only screen and (max-width : 450px) {
  .login_content
  {
    
  }
  .login_steps {
    padding: 0 20px;
    margin-left: -220px;
  }
  .login_title_wrapper {
    text-align: center;
  }
}
@media only screen and (max-width : 416px) {
  .login_steps {
      margin-left: -208px;
  }
}
@media only screen and (max-width : 394px) {
  .login_steps {
    margin-left: -201px;
  }
}
@media only screen and (max-width : 370px) {
  .login_step_login_submit {
    margin-left: 29px;
  }
  .login_steps {
    margin-left: -188px;
  }
}

@media only screen and (max-width : 350px) {
  .login_step_login_submit {
    margin-left: 16px;
  }
  .login_steps {
    margin-left: -175px;
  }
}

@media only screen and (max-width : 335px) {
  .login_step_login_submit {
    margin-left: 7px;
  }
  .login_steps {
    margin-left: -167px;
  }
}

@media only screen and (max-width : 320px) {
  .login_step_login_submit {
    margin-left: 0px;
  }
  .login_steps {
    margin-left: -161px;
  }
}

@media only screen and (max-width : 310px) {
  .login_step_login_submit {
    margin-left: 0px;
  }
  .login_steps {
    padding: 0 10px;
    margin-left: -161px;
  }
}