.ratings{
	font-family: "SF-UI"!important;
	font-weight: 400;
	text-transform: none;
	color: #fff;
	height: 100%;
	&>.row{
		height: 100%;
		&>div{
			height: 100%;
		}
	}
	&-table-wrap{
		flex: 1 1 auto;
		overflow: scroll;
		max-height: 100%;
		height: 500px;
		margin-bottom: 30px;
		min-height: 60vh;
	}
	&-tabs{
		display: flex;
		flex: 1 1 auto;
	}
	&-tab{
		display: none;
		&.active{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
	&-main{
		padding: 20px!important;
		min-height: 100vh;
		height: 100%!important;
		display: flex;
		flex-direction: column;
		// div{
			// 	display: flex;
			// 	flex-direction: column;
			// 	flex: 1 1 auto;
		// }
		&__title{
			margin-bottom: 20px;
			font-size: 22px;
			font-weight: 500;
		}
		&__block{
			padding: 15px!important;
			background-color: #2D3034;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			.block__top{
				&-switch{
					font-size: 14px;
					text-decoration: none;
					color: #fff;
					opacity: .5;
					font-weight: 600;
					text-transform: uppercase;
					&.ratings-traders.active{
						color: #2DAE82;
						border-bottom-color: #2DAE82;
					}
					&.ratings-investors.active{
						color: #0F7ADE;
						border-bottom-color: #0F7ADE;
					}
					&-wrap{
						display: flex;
						margin-bottom: 20px;
					}
					&:first-child{
						margin-right: 10px;
					}
					&:hover{
						opacity: .7;
					}
					&.active{
						opacity: 1;
						border-bottom: 2px solid;
					}
				}
			}
		}
		.table{
			width: 100%;
			font-size: 12px;
			font-family: "SF-UI"!important;
			font-weight: 400;
			.input_search{
				height: 18px;
				width: 80px;
				// padding: 0 16px;
				border: 1px solid #4A4D54;
				border-radius: 2px;
				line-height: 18px;
				text-align: center;
				font-size: 14px;
				font-weight: 500;
				color: #7E8190;
				background-color: transparent;
				text-align: left;
				&::-webkit-input-placeholder { text-align:center; }

				&:-moz-placeholder { text-align:center; }
				&:focus{
					outline: none;
				}
			}
			.help{
				height: 18px;
				width: 18px;
				background-color: #4A4D54;
				border-radius: 50%;
				cursor: pointer;
				color: rgba(#fff,.5);
				display: flex;
				font-size: 12px;
				align-items: center;
				justify-content: center;
				position: relative;
				&:hover{
					.help_dropdown{
						display: block;
					}
				}
				&_dropdown{
					display: none;
					width: 220px;
					// height: 80px;
					padding: 12px 8px 12px 12px;
					position: absolute;
					border-radius: 2px;
					left: -102px;
					top: 26px;
					background-color: #2D3034;
					border: 1px solid #4F525D;
					font-size: 12px;
					font-weight: 400;
					text-transform: initial;
					color: #9094A1;
					&:after{
						content: '';
						width: 8px;
						height: 8px;
						border: 1px solid #4F525D;
						background-color: #2D3034;
						transform: translate(-50%,0) rotate(45deg);
						border-bottom: none;
						border-right: none;
						position: absolute;
						top: -5px;
						left: 50%;
					}
					.round{
						width: 8px;
						height: 8px;
						border-radius: 50%;
						display: inline-block;
						margin-right: 6px;
					}
					.total{
						flex-wrap: nowrap;
						.round{
							background-color: #9094A1;
						}
					}
					.succes{
						flex-wrap: nowrap;
						.round{
							background-color: #32B994;
						}
					}
				}
			}

			.all-time{
				font-size: 12px;
				cursor: pointer;
				color: #7E8190;
				position: relative;
				height: 18px;
				width: 88px;
				border: 1px solid #4A4D54;
				border-radius: 2px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				&:hover{
					color: rgba(#fff,.5);
				}
				&_dropdown{
					position: absolute;
					border-radius: 2px;
					top: -2px;
					display: none;
					// padding: 10px 0;
					width: 90px;
					background-color: #2D3034;
					border: 1px solid #4F525D;
					font-size: 12px;
					color: #9094A1;
					&.open{
						display: block;
					}
					&-link{
						color: #9094A1;
						display: block;
						text-decoration: none;
						padding: 8px;
						font-weight: 400;
						&:hover{
							color: #fff;
						}
						&.active{
							background-color: rgba(#9094A1,.25);
							color: #fff;
						}
					}
				}
			}
			.buttons-wrap{
				display: flex;
				align-items: center;
				.btn{
					font-size: 12px;
					background-color: transparent;
					color: #7E8190;
					border-color: #7E8190;
					padding: 2px 8px;
					height: 18px;
					line-height: 12px;
					&:hover{
						color: rgba(#fff,.7);
					}
					&-active{
						background-color: #4A4D54;
						color: #fff;
					}
					&:first-child{
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					&:last-child{
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
			.star{
				display: inline-block;
				width: 12px;
				height: 12px;
				background-image: url('../assets/svg/star.svg');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				&:hover{
					background-image: url('../assets/svg/star_white.svg');
				}
			}
			.graph{
				width: 180px;
				height: 18px;
				background: url('../../src/img/graph.png') no-repeat center;
				background-size: contain;
				display: inline-block;
			}
			th{

				font-size: 12px;
				font-family: "SF-UI"!important;
				font-weight: 500;
				&:hover{
					opacity: 1;
				}
			}
			thead th{
				color: #9094A1;
				&:nth-child(6){
					&>div{
						width: 100px;
					}
				}
				&.active{
					div:first-child{
						opacity: 1;
					}
				}
				&.fav.active{
					.star{
						background-image: url('../assets/svg/star_white.svg');
					}
				}
				&.rank.active{
					color: #fff;
					.icon-dir{
						color: #32B994;
					}

				}
				white-space: normal;
				&> div:first-child{
					display: flex;
					align-items: flex-end;
					opacity: .5;
					span{
						white-space: nowrap;
					}
					.icon-dir{
						margin-left: 4px;
					}
				}
				padding-bottom: 15px;
			}
			tbody{
				.total{
					color: #9094A1;
				}
				.succes{
					color: #32B994;
				}
				tr{
					height: 50px;
					&:hover{
						cursor: pointer;
						border-radius: 2px;
						background-color: rgba(#9094A1,.25);
					}
					&.fav{
						.star{
							background-image: url('../assets/svg/star_white.svg');
						}
					}
					td{
						font-weight: 400;
						height: 50px;
						&:nth-child(3){
							white-space: nowrap;
						}
						&:nth-child(4){
							display: flex;
							align-items: center;
						}
						.rank{
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
	&__best{

		&-list{
			padding: 35px 0;
			background-color: rgba(#222529,.5);
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			font-size: 14px;
			flex-wrap: wrap;
			.dash{
				width: 1px;
				min-height: 100%;
				background-color: #4A4D54;
				display: none;
			}
		}
		&-item{
			// border-bottom: 1px solid #4A4D54;;
			padding: 0 30px;
			width: 100%;
			margin-bottom: 20px;
			padding-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
				padding-bottom: 0;
				// border-bottom: 0;
			}
			// 		&:nth-child(3){
				// 			border-left: none;
			// 		}
			// &:first-child{
				// 	border-left: none;
			// }
			.nickname{
				font-weight: 500;
				color: #fff!important;
			}
			.value{
				font-size: 36px;
				line-height: 30px;
			}
		}
		&-top{
			text-align: center;
			margin-bottom: 20px;
		}
		&-bottom{
			display: flex;
			align-items: baseline;
			justify-content: center;
			line-height: 18px;
			.text{
				margin-left: 10px;
			}
		}
	}
	&-traders{
		.ratings__best-item{
			&.best_alltime{
				color: #32B994;
				.ratings__best-top{
					padding: 0 30px;
					background-image: url('../assets/svg/wreath.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			&.best_year{
				color: #A0832C;
			}
			&.best_quart{
				color: #7E9191;
			}
			&.best_month{
				color: #A76F45;
			}
		}
	}
	&-investors{
		.table{
			.help_dropdown{
				.succes{
					.round{
						background-color: #0290E5;
					}
				}
			}
			td{
				.succes{
					color: #0290E5;
				}
			}
			.graph{
				background: url('../../src/img/graph_blue.png') no-repeat center;
			}
		}
		.ratings__best-item{
			&.best_alltime{
				color: #0290E5;
				.ratings__best-top{
					padding: 0 30px;
					background-image: url('../assets/svg/wreath_blue.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			&.best_year{
				color: #A0832C;
			}
			&.best_quart{
				color: #7E9191;
			}
			&.best_month{
				color: #A76F45;
			}
		}
	}

}

@media (min-width: 576px){
	.ratings__best-item{
		width: 50%;
		// border-bottom: none;
		// border-left: 1px solid #4A4D54;
	}
	.ratings__best-list{
		justify-content: center;
		.dash{
			display: none;
		}
	}

}
@media (min-width: 998px) {
	.ratings__best-item{
		width: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		// &:nth-child(3){
			// 	border-left: 1px solid #4A4D54;
		// }
	}
	.ratings__best-list{
		justify-content: space-evenly;
		.dash{
			display: block;
		}
	}

}
@media (max-width: 768px){
	.ratings-main .table thead th.rank{
		white-space: nowrap;
		&> div:first-child{
			display: inline-flex;
		}
		.help{
			display: inline-flex;
			&_dropdown{
				white-space: normal;
			}
		}
	}
}


