.ratings{
	letter-spacing: 1px;
	font-family: "SF-UI"!important;
	font-weight: 400;
	text-transform: none;
	color: #fff;
	height: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;	
	&>.row{
		height: 100%;
		&>div{
			height: 100%;
		}
	}
	&-table-wrap{
		flex: 1 1 auto;
	    overflow: scroll;
    	max-height: 100%;
    	height: 300px;
		margin-bottom: 30px;
		min-height: 50vh;
		overflow-x: hidden;
		.table {
			margin-bottom: 0;
			span.accept {
				background: url(../assets/svg/001-check-mark-grey.svg) no-repeat left center;
			    width: 100%;
			    height: 18px;
			    opacity: .8;
			    display: inline-block;
			    background-size: 15px;
			    margin-top: 5px;				
			}
		}
	}
	&-tabs{
		display: flex;
		flex: 1 1 auto;
	}
	&-tab{
		display: none;
		&.active{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
	&-best__block {
		margin-top: 10px;
		padding: 15px !important;
		background-color: #2D3034;
	}
	&-main{
		padding: 20px!important;
        display: flex;
		flex-direction: column;
	    // div{
	    // 	display: flex;
	    // 	flex-direction: column;
	    // 	flex: 1 1 auto;
	    // }
		&__title{
			margin-bottom: 20px;
			font-size: 22px;
			font-weight: 500;
		}
		&__block{
			padding: 15px!important;
			background-color: #2D3034;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			.block__top{
				&-switch{
					font-size: 14px;
					text-decoration: none;
					color: #fff;
					opacity: .5;
					font-weight: 600;
					text-transform: uppercase;
					&.ratings-traders.active{
						color: #2DAE82;
						border-bottom-color: #2DAE82;
					}
					&.ratings-investors.active{
						color: #0F7ADE;
						border-bottom-color: #0F7ADE;
					}
					&-wrap{
						display: flex;
						margin-bottom: 20px;
					}
					&:first-child{
						margin-right: 10px;
					}
					&:hover{
						opacity: .7;
					}
					&.active{
						opacity: 1;
						border-bottom: 2px solid;
					}
				}
			}
		}
		.table{
			width: 100%;
			font-size: 12px;
			font-family: "SF-UI"!important;
			font-weight: 400;
			.input_search{
				height: 18px;
				width: 80px;
				max-width: 125px;
			  padding: 0 3px;
				border: 1px solid #4A4D54;
				border-radius: 2px;
				line-height: 18px;
				text-align: center;
				font-size: 14px;
				font-weight: 500;
				color: #7E8190;
				background-color: transparent;
				text-align: left;
				transition: width .17s ease-out;
				&::-webkit-input-placeholder { text-align:center; }
				&:-moz-placeholder { text-align:center; }
				&:focus{
					outline: none;
					width: 100%;
				}
			}
			.help{
				height: 18px;
				width: 18px;
				background-color: #4A4D54;
				border-radius: 50%;
				cursor: pointer;
				color: rgba(#fff,.5);
			    display: flex;
			    font-size: 12px;
			    align-items: center;
			    justify-content: center;
			    position: relative;
			}
			.buttons-wrap{
			    display: flex;
			    align-items: center;
				.btn{
					font-size: 12px;
				    background-color: transparent;
				    color: #7E8190;
				    border-color: #7E8190;
				    padding: 2px 8px;
				    height: 18px;
				    line-height: 12px;
				    &:hover{
				    	color: rgba(#fff,.7);
				    }
				    &-active{
				    	background-color: #4A4D54;
				    	color: #fff;
				    }
				    &:first-child{
				    	border-top-right-radius: 0;
	    				border-bottom-right-radius: 0;
				    }
				    &:last-child{
				    	border-top-left-radius: 0;
	    				border-bottom-left-radius: 0;
				    }
				}
			}
			.star{
				display: inline-block;
				width: 12px;
				height: 12px;
				background-image: url('../assets/svg/star.svg');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				&:hover{
					background-image: url('../assets/svg/star_white.svg');
				}
			}
			thead {
				tr:first-of-type {
					th {
						vertical-align: bottom;
						white-space: nowrap;
						cursor: pointer;
						span:not(.icon-dir) {
							opacity: .5;	
						}
						
						.icon-dir {

							&.sort {
								opacity: .7;
								color: #fff;								
							}
						}						
						span{
							white-space: normal;
						}
						.icon-dir{
							margin-left: 4px;
						}
						&.active{
							opacity: 1;
						}
					}
				}
				tr:last-of-type {
					th {
						padding-bottom: 14px;
					}
				}
				th {
					color: #9094A1;
					font-size: 12px;
					font-family: "SF-UI"!important;
					font-weight: 500;

					&:hover{
						.icon-dir {
							opacity: 1;
						}
						opacity: 1;
					}
					&.fav.active{
						.star{
								background-image: url('../assets/svg/star_white.svg');
						}
					}
					&.rank {
						min-width: 85px;
						&.active {
							color: #fff;
							.icon-dir {
								color: #32B994;
							}
						}
					}
				}
			}
			tbody{
				.total{
						color: #9094A1;
					}
				.success{
					color: #32B994;
				}
				tr{
					height: 50px;
					&:hover{
						cursor: pointer;
						border-radius: 2px;
						background-color: rgba(#9094A1,.25);
					}
					&.fav{
						.star{
							background-image: url('../assets/svg/star_white.svg');
						}
					}
					td{
						font-weight: 400;
						height: 50px;
						&:nth-child(3){
							white-space: nowrap;
						}
						&:nth-child(4){
							display: flex;
							align-items: center;
						}
						.rank{
							margin-right: 10px;
						}
					}
				}
			}
		}

		.help-popover {
			padding: 10px 15px 10px 15px !important;
			max-width: 235px;
			border-radius: 2px;
			background-color: #2D3034;
			border: 1px solid #4F525D;
			font-size: 12px;
			font-weight: 400;
			font-family: inherit;
			text-transform: initial;
			line-height: 14px;

			.arrow {
				content: '';
				width: 8px;
				height: 8px;
				border: 1px solid #4F525D;
				background-color: #2D3034;
				transform: rotate(45deg);
				border-bottom: none;
				border-right: none;
				position: absolute;
				top: -5px;

				&:before, &:after {
					content: none;
				}
			}

			.popover-body {
				color: #9094A1;
			}

			.round {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				display: inline-block;
				margin-right: 6px;
			}

			.total {
				margin-bottom: 9px;
				flex-wrap: nowrap;

				.round {
					background-color: #9094A1;
				}
			}

			.success {
				flex-wrap: nowrap;

				.round {
					background-color: #32B994;
				}

				&-investors {
					.round {
						background-color: #0290E5;
					}
				}
			}
		}
  }
	&__best{

		&-list{
			padding: 35px 0;
			background-color: rgba(#222529,.5);
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			font-size: 14px;
			flex-wrap: wrap;
			.dash{
				width: 1px;
				min-height: 100%;
				background-color: #4A4D54;
				display: none;
			}
		}
		&-item{
			// border-bottom: 1px solid #4A4D54;;
			padding: 0 30px;
			width: 100%;
	  		margin-bottom: 20px;
		    padding-bottom: 20px;
		    &:last-child{
	  	    margin-bottom: 0;
	    		padding-bottom: 0;
	    		// border-bottom: 0;
		    }
	  // 		&:nth-child(3){
	  // 			border-left: none;
	  // 		}
			// &:first-child{
			// 	border-left: none;
			// }
			.time {
				margin-bottom: 5px;
			}
			.nickname{
				font-weight: 500;
				color: #fff!important;
				text-overflow: ellipsis;
				overflow: hidden;				
			}
			.value{
				font-size: 36px;
				line-height: 30px;
			}
		}
		&-top{
			text-align: center;
			margin-bottom: 20px;
		}
		&-bottom{
			display: flex;
    	align-items: baseline;
	    justify-content: center;
      line-height: 18px;
    	.text{
    		margin-left: 10px;
    	}
		}
	}
	&-traders{
		.ratings__best-item{
			.ratings__best-top{
				width: 250px;
		    	padding: 0 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-left: auto;
				margin-right: auto;
			}
			&.best_alltime{
				color: #32B994;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath.svg');
				}
			}
			&.best_year{
				color: #A0832C;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_gold.svg');
				}
			}
			&.best_quart{
				color: #7E9191;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_silver.svg');
				}
			}
			&.best_month{
				color: #A76F45;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_bronze.svg');
				}
			}
		}
		.table {
			tr th {
				&:nth-child(5) {
					min-width: 85px;
				}
				&:nth-child(7) {
					min-width: 125px;
				}
				&:nth-child(8) {
					min-width: 80px;
				}
				&:nth-child(9) {
					min-width: 115px;
				}
			}
		}
	}
	&-investors{
		.table{
			.help_dropdown{
				.succes{
					.round{
						background-color: #0290E5;
					}
				}
			}
			td{
				.success{
					color: #0290E5;
				}
			}
			.graph{
				background: url('../img/graph_blue.png') no-repeat center;
			}
			th {
				&:nth-child(5) {
					min-width: 85px;
				}
				&:nth-child(7) {
					min-width: 115px;
				}
			}
		}
		.ratings__best-item{
			.ratings__best-top{
				width: 250px;
		    	padding: 0 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-left: auto;
				margin-right: auto;				
			}
			&.best_alltime{
				color: #0290E5;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_blue.svg');
				}
			}
			&.best_year{
				color: #A0832C;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_gold.svg');
				}
			}
			&.best_quart{
				color: #7E9191;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_silver.svg');
				}
			}
			&.best_month{
				color: #A76F45;
				.ratings__best-top{
					background-image: url('../assets/svg/wreath_bronze.svg');
				}
			}
		}
	}

	.dropdown-link-wrap {
		font-size: 12px;
		cursor: pointer;
		color: #7E8190;
		position: relative;
		height: 18px;
		width: 106px;
		border: 1px solid #4A4D54;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.dropdown-link {
			width: 100%;
			div {
				width: 106px;
				display: flex;
				align-items: center;
				justify-content: space-around;				
			}
		}
		&:hover {
			color: rgba(#fff,.5);
		}

		&_dropdown {
			display: none;
			padding: 10px 0;
			width: 90px;
			background-color: #2D3034;
			font-size: 12px;
			letter-spacing: 1px;
			color: #9094A1;

			&-link {
				color: #9094A1;
				display: block;
				text-decoration: none;
				padding: 8px !important;
				font-weight: 400;

				&:hover {
					color: #fff;
				}

				&.active {
					background-color: rgba(#9094A1,.25);
					color: #fff;
				}
			}
		}
	}

	.dropdown-popover {
		.all-time {
			&_dropdown {
				display: block;
			}
		}
	}
}

@media (max-width: 575px){
	.ratings__best-item{
		padding: 0;
	}
}

@media (min-width: 576px){
	.ratings__best-item{
		width: 50%;
		// border-bottom: none;
		// border-left: 1px solid #4A4D54;
	}
	.ratings__best-list{
		justify-content: center;
		.dash{
			display: none;
		}
	}

}
@media (min-width: 998px) {


	.ratings__best-item{
		width: auto;
		// margin-bottom: 0;
		padding-bottom: 0;
		// &:nth-child(3){
		// 	border-left: 1px solid #4A4D54;
		// }
	}
	.ratings__best-list{
		justify-content: space-evenly;
		.dash{
			display: none;
		}
	}

}

@media (min-width: 1500px) {
	.ratings__best-item{
		margin-bottom: 0;
	}
	.ratings__best-list{
		.dash{
			display: block;
		}
	}
}
@media (max-width: 768px){
	.ratings-main {
		.table thead th.rank{
			white-space: nowrap;
			&> div:first-child{
				display: inline-flex;
			}
			.help{
				display: inline-flex;
				&_dropdown{
					white-space: normal;
				}
			}
		}

		.ratings-traders .table {
			thead tr th, tbody tr td {
				&:nth-child(4),
				&:nth-child(7),
				&:nth-child(9),
				&:nth-child(10) {
					display: none;
				}
			}
			thead tr th {
				&:nth-child(5) {
					min-width: 125px;
				}
			}
		}

		.ratings-investors  .table {
			thead tr th, tbody tr td {
				&:nth-child(4) {
					display: none;
				}
			}
			thead tr th {
				&:nth-child(5) {
					min-width: 125px;
				}
			}
		}
	}
}

/*
	ohO_oho: Mobile layout (<576px)
 */
@include media-breakpoint-down(xs) {
	.ratings {
		&-main {
			padding: 10px !important;
			height: auto !important;

			&__block {
				padding: 5px !important;
				border-radius: 2px;
				letter-spacing: 0.1px;

				.block__top-switch-wrap {
					margin-bottom: 10px;
					margin-top: 10px;
					padding-left: 15px !important;
				}

				.block__top-switch {
					font-size: 15px;
					font-weight: 500;

					&:first-child {
						margin-right: 20px;
					}
				}
			}

			.table {
				min-width: auto !important;
				max-width: 100%;
				width: 100%;

				thead tr {
					th {
						font-size: 11px;
						padding: 5px 2px;
						height: auto;

						&:nth-child(1) {
							padding-left: 5px;
						}

						&:nth-child(8) {
							padding-right: 5px;
						}

						&.rank {
							min-width: 55px;
						}

						span {
							display: block;
						}
					}
				}

				tbody tr {
					height: auto;

					td {
						font-size: 10px;
						padding: 5px 2px;
						height: auto;

						&:nth-child(1) {
							padding-left: 5px;
						}

						&:nth-child(8) {
							padding-right: 5px;
						}

						.rank {
							margin-right: 6px;
						}
					}
				}

				.input_search {
					font-size: 12px;
					width: 60px;
					max-width: 125px;
				}

				.nickname {
			    max-width: 245px;
			    overflow: hidden;
					text-overflow: ellipsis;
				}

				@media (max-width: 425px) {
					.input_search {
						max-width: 100px;
					}

					.nickname {
					  max-width: 150px;
					}
				}

				@media (max-width: 375px) {
					.input_search {
						width: 55px;
						max-width: 75px;
					}

					.nickname {
					  max-width: 85px;
					}
				}

				@media (max-width: 360px) {
					thead tr th {
						&.rank {
							min-width: 45px;
						}
					}

					.input_search {
						width: 50px;
						max-width: 50px;
					}

					.nickname {
					  max-width: 55px;
					}
				}

				.buttons-wrap .btn {
					font-size: 10px;
					padding: 2px 4px;
				}
			}

			.ratings-traders .table {
				thead tr th {
					&:nth-child(5) {
						min-width: 70px;
						max-width: 75px;
					}
					&:nth-child(8) {
						min-width: auto;
						max-width: 35px;
					}
				}
			}
			@media (max-width: 768px){
			.ratings-traders .table {
				thead tr th {
					&:nth-child(5) {
						min-width: 50px;
						max-width: 55px;
					}
					&:nth-child(8) {
						min-width: auto;
						max-width: 35px;
					}
				}
			}
			}

			.ratings-investors .table {
				thead tr th {
					&:nth-child(5) {
						min-width: 70px;
						max-width: 75px;
					}
					&:nth-child(7) {
						min-width: 70px;
						max-width: 70px;
					}
				}

				.input_search {
  				&:focus{
  					outline: none;
  					width: 100%;
  				}
				}

				.nickname {
			    max-width: 230px;
			  }

				@media (max-width: 425px) {
					.nickname {
					  max-width: 105px;
					}
				}

				@media (max-width: 375px) {
					.input_search {
						width: 48px;
						max-width: 48px;
					}

					.nickname {
					  max-width: 48px;
					}
				}

				@media (max-width: 360px) {
					thead tr th {
						&:nth-child(5) {
							min-width: 50px;
							max-width: 60px;
						}

						&:nth-child(7) {
							min-width: 50px;
							max-width: 55px;
						}

						&.rank {
							min-width: 50px;
						}
					}
				}
			}
		}

		&-table-wrap {
			height: auto;
			min-height: auto;
			max-height: 308px; // 300px
			margin-bottom: 0;
		}

		&__best-item {
			.time {
				margin-bottom: 10px;
			}
		}
	}
}
