.orders{
	letter-spacing: 1px;
	font-family: "SF-UI"!important;
	font-weight: 400;
	text-transform: none;
	color: #fff;
	height: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;	
	&>.row{
		height: 100%;
		&>div{
			height: 100%;
		}
	}
	&-table-wrap{
		flex: 1 1 auto;
	    overflow: scroll;
	  	max-height: 100%;
	  	overflow-x: hidden;
	  	// height: auto;
		// margin-bottom: 30px;
		// min-height: 60vh;
		max-height: 70vh;
		.table {
			margin-bottom: 0;
		}
	}
	&-tabs{
		display: flex;
		flex: 1 1 auto;
	}
	&-tab{
		display: none;
		&.active{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
	&-main{
		margin: 20px!important;
		display: flex;
		flex-direction: column;
    	// height: 717px!important;
	    &__top{
	    	margin-bottom: 10px;
	    	.dropdowns{
	    		margin: 0!important;
				text-transform: uppercase;
	    	}
	    }
		&__title{
			font-size: 22px;
			font-weight: 500;
			margin-right: 20px;
		}
		&__block{
			padding: 15px!important;
			background-color: #2D3034;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			.block__top{
				&-switch{
					cursor: pointer;
					font-size: 14px;
					text-decoration: none;
					color: #fff;
					opacity: .5;
					font-weight: 600;
					text-transform: uppercase;
					&-wrap{
						display: flex;
						margin-bottom: 15px;
					}
					&:first-child{
						margin-right: 10px;
					}
					&.active{
						opacity: 1;
						border-bottom: 2px solid #fff;
					}
				}
			}
		}
		.table{
			width: 100%;
			font-size: 12px;
			font-family: "SF-UI"!important;
			font-weight: 400;
			// thead{
			// 	display: block;
			// 	th{
			// 		width: calc(100% / 8);
			// 	}
			// }
			// tbody{
			// 	display: block;
			// 	overflow: scroll;
			// 	td{
			// 		width: calc(100% / 8);
			// 	}
			// }
			th{
				color: #494C54;
				font-size: 12px;
				font-family: "SF-UI"!important;
				font-weight: 500;
				vertical-align: bottom;
			}
			td{
				font-weight: 400;
				&:first-child{
					white-space: nowrap;
				}
				.remove{
					display: block;
					width: 14px;
					height: 14px;
					background: url('../assets/svg/cross.svg') no-repeat center;
					background-size: contain;
					&:hover{
						opacity: 1;
						background: url('../assets/svg/cross_white.svg') no-repeat center;
						background-size: contain;
					}
				}
			}
			tr{
				.round{
						width: 5px;
						height: 5px;
						border-radius: 50%;
						display: inline-block;
						vertical-align: middle;
					}
				&.buy{
					text-transform: uppercase;
					.round{
						background-color: #32B994;
					}
				}
				&.sell{
					text-transform: uppercase;
					.round{
						background-color: #D74C4C;
					}
				}
			}
		}
	}

	.rt-th {
		&:first-child {
			.orders__table-header-wrapper {
				text-align: left;
			}
		}
	}

	.orders__table-header-wrapper {
		text-align: center;
	}
}
.orders__table_round {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;

	&.buy{
		background-color: #32B994;
	}
	&.sell{
		background-color: #D74C4C;
	}
}


.orders__table_cell {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 12px;

	&:first-child {
		justify-content: start;
	}
}

.orders__table-remove{
	display: block;
	width: 14px;
	height: 14px;
	background: url('../assets/svg/cross.svg') no-repeat center;
	background-size: contain;
	&:hover{
		opacity: 1;
		background: url('../assets/svg/cross_white.svg') no-repeat center;
		background-size: contain;
	}
}


@media (max-width: 768px){
	.orders__table-wraper {
		.rt-td, .rt-th {
			&:first-child {
				margin-left: 5px !important;
			}
		}
	}

	.orders__table_cell {
		font-size: 8px;
	}

	.orders__table-header-wrapper {
		font-size: 8px;
	}

	.orders-main {
		.orders-tab .table {
			th, td {
				&:nth-child(5),
				&:nth-child(6) {
					display: none;
				}
			}
		}
	}
}

.order__order-page-main-wrapper {
	padding: 0 55px !important;
}

.order__order-page-container {
	padding: 20px 0 !important;
	max-width: 100% !important;
}

.order__table-cell {
	font-size: 12px;
	color: #fff !important;
}

.order__table-cell_uppercase {
	text-transform: uppercase;
}

.order__order-page-title {
	font-size: 22px;
	font-weight: 500;
	color: #fff;
}

.order__info-title {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	padding: 20px !important;
	border-bottom: 1px solid #494d4d;
}

.order__info {
	box-sizing: border-box;
	border: 1px solid #494d4d;
	border-radius: 4px;
	margin-right: 20px;
}

.order__history-table-wrapper {
	border: 1px solid #494d4d;
	border-radius: 4px;
	box-sizing: border-box;

	.rt-thead {
		background-color: #2d3034;
	}

	.rt-tr {
		align-items: center;
	}
}

.order__info-container {
	padding: 20px !important;
}

.order__order-page-wrapper {
	display: flex;
	flex-flow: column;
}

.order__table-title {
	font-size: 12px;
	margin-bottom: 10px;
	color: #5B5F67;
	font-weight: 500;
}

.order__info-subtitle {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #7c7c7d;
}

.order__info-value {
	font-size: 14px;
	color: #bfbfc1;
	font-weight: 500;
}

.order__info-item {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 1028px) {

	.order__order-page-main-wrapper {
		padding: 0 25px !important;
	}

	.order__table-cell {
		font-size: 12px !important;
		line-height: 28px;
	}

	.order__info {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.order__order-page-title {
		font-size: 14px;
	}

	.order__table-cell {
		font-size: 10px !important;
		line-height: 20px;
	}

	.order__info-subtitle, .order__info-value {
		font-size: 12px;
	}

	.order__info-title {
		font-size: 14px;
		padding: 10px;
	}

	.order__order-page-main-wrapper {
		padding: 0 10px !important;
	}
}
/*
	ohO_oho: Mobile layout (<576px)
 */
@include media-breakpoint-down(xs) {
	.orders__table_cell {
		font-size: 6px;
	}

	.orders__table-header-wrapper {
		font-size: 6px;
	}

	.orders {
		&-main {
			margin: 0px!important;
			padding: 10px !important;
			height: auto !important;

			&__block {
				padding: 5px !important;
				border-radius: 2px;
				letter-spacing: 0.1px;

				.block__top-switch-wrap {
					justify-content: center;
					margin-bottom: 10px;
					margin-top: 10px;
				}

				.block__top-switch {
					font-weight: 500;

					&:first-child {
						margin-right: 22px;
					}
				}
			}

			.table {
				table-layout: auto !important;
				min-width: auto !important;
				max-width: 100%;
				letter-spacing: 0;

				th, td {
					padding: 5px 3px;

					&:nth-child(1) {
						padding-left: 5px;
					}

					&:nth-child(7) {
						padding-right: 5px;
					}
				}

				th {
					font-size: 11px;

					span {
						display: block;
						font-size: 12px;
					}
				}

				td {
					font-size: 10px;

					&.ellipsis-cell {
						max-width: 20px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		&-table-wrap {
			height: auto;
			min-height: auto;
			max-height: 279px; // 275px
			margin-bottom: 0;
		}
	}
}
