.profile-block.card {
  color: #727274;
  background-color: #1f2225;
  border-color: #494d4d;
}
.profile-block .card-header {
  padding-left: 25px !important;
  font-size: 1.8em;
  background-color: #2d3034;
  border-bottom-color: #494d4d;
  height: 54px;
  line-height: 54px;
  text-transform: uppercase;
}
.profile-block .card-header .icon {
  color: #727274;
  font-size: 0.8em;
  margin-right: 15px;
}

.profile-block.graphic {
  height: 300px;
}
@media (max-width: 1027.98px) {
  .profile-block.card {
    border: none;
  }
  .profile-block .card-header {
    background-color: transparent;
    border: none;
    height: 81px;
    line-height: 81px;
  }
}
