.history{
	font-family: "SF-UI"!important;
	font-weight: 400;
	text-transform: none;
	color: #fff;
	height: 100%;
	&>.row{
		height: 100%;
		&>div{
			height: 100%;
		}
	}
	&-main{
		padding: 20px!important;
		display: flex;
		flex-direction: column;
    height: calc(100% - 50px)!important;
		&__top{
    	margin-bottom: 10px;
    	.dropdowns{
    		margin: 0!important;
    	}
    }
		&__title{
			font-size: 22px;
			font-weight: 500;
			margin-right: 20px;
		}
		&__block{
			padding: 15px!important;
			background-color: #2D3034;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			height: 100%;
		}
		.table{
			width: 100%;
			font-size: 12px;
			// font-family: "SF-UI"!important;
			font-weight: 400;
			white-space: nowrap;
			margin-bottom: 0;
			&-wrap{
				flex: 1 1 auto;
		    overflow: scroll;
		  	max-height: 100%;
		  	height: 500px;
				margin-bottom: 30px;
				min-height: 60vh;
			}

			th{
				color: #494C54;
				font-size: 12px;
				font-family: "SF-UI"!important;
				font-weight: 500;

			}
			td{
				font-weight: 400;

				.round{
					width: 5px;
					height: 5px;
					border-radius: 50%;
					display: inline-block;
				}

			}
			tr{
				&.buy{
					.round{
						background-color: #32B994;
					}
				}
				&.sell{
					.round{
						background-color: #D74C4C;
					}
				}
			}
		}
	}
}

/*
	Hide columns on <768px
 */
@media (max-width: 768px){
	.history-main {
		.table {
			th, td {
				&:nth-child(5) {
					display: none;
				}
			}
		}
	}
}

/*
	ohO_oho: Mobile layout (<576px)
 */
@include media-breakpoint-down(xs) {
	.history-main {
		padding: 10px !important;
		height: auto !important;

		&__block {
			padding: 5px !important;
			border-radius: 2px;
			letter-spacing: 0.1px;
		}

		.table {
			white-space: normal;
			max-width: 100%;
			width: 100%;

			th, td {
				padding: 5px 3px;

				&:nth-child(1) {
					padding-left: 5px;
				}

				&:nth-child(6) {
					padding-right: 5px;
				}
			}

			th {
				font-size: 11px;

				span {
					display: block;
					font-size: 12px;
				}
			}

			td {
				font-size: 10px;

				&:nth-child(6) {
					word-wrap: break-word;
				}

				// &.ellipsis-cell {
				// 	max-width: 65px;
				// 	overflow: hidden;
				// 	text-overflow: ellipsis;
				// }
			}

			&-wrap {
				height: auto;
				min-height: auto;
				max-height: 324px; // 304px
				margin-bottom: 0;
				overflow-y: hidden !important;
			}
		}
	}
}
