@font-face {
    font-family: 'maven_problack';
    src: url('../../assets/font/mavenpro-black-webfont.eot');
    src: url('../../assets/font/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenpro-black-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenpro-black-webfont.woff') format('woff'),
    url('../../assets/font/mavenpro-black-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_probold';
    src: url('../../assets/font/mavenpro-bold-webfont.eot');
    src: url('../../assets/font/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenpro-bold-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenpro-bold-webfont.woff') format('woff'),
    url('../../assets/font/mavenpro-bold-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_promedium';
    src: url('../../assets/font/mavenpro-medium-webfont.eot');
    src: url('../../assets/font/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenpro-medium-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenpro-medium-webfont.woff') format('woff'),
    url('../../assets/font/mavenpro-medium-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_proregular';
    src: url('../../assets/font/mavenpro-regular-webfont.eot');
    src: url('../../assets/font/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenpro-regular-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenpro-regular-webfont.woff') format('woff'),
    url('../../assets/font/mavenpro-regular-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light100';
    src: url('../../assets/font/mavenprolight-100-webfont.eot');
    src: url('../../assets/font/mavenprolight-100-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenprolight-100-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenprolight-100-webfont.woff') format('woff'),
    url('../../assets/font/mavenprolight-100-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenprolight-100-webfont.svg#maven_pro_light100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light200';
    src: url('..../../assets/font/mavenprolight-200-webfont.eot');
    src: url('../../assets/font/mavenprolight-200-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenprolight-200-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenprolight-200-webfont.woff') format('woff'),
    url('../../assets/font/mavenprolight-200-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenprolight-200-webfont.svg#maven_pro_light200') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light300';
    src: url('../../assets/font/mavenprolight-300-webfont.eot');
    src: url('../../assets/font/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/font/mavenprolight-300-webfont.woff2') format('woff2'),
    url('../../assets/font/mavenprolight-300-webfont.woff') format('woff'),
    url('../../assets/font/mavenprolight-300-webfont.ttf') format('truetype'),
    url('../../assets/font/mavenprolight-300-webfont.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}



