/*@font-face {
    font-family: 'circeDefault';
    src: url("assets/font/circeLight.otf") format("opentype");
}
@font-face {
    font-family: 'circeBold';
    src: url("assets/font/circeBold.otf") format("opentype");
}
@font-face {
    font-family: 'circeExtraBold';
    src: url("assets/font/circeExtraBold.otf") format("opentype");
}
@font-face {
    font-family: 'circeExtraLight';
    src: url("assets/font/circeExtraLight.otf") format("opentype");
}
@font-face {
    font-family: 'circeNormal';
    src: url("assets/font/circe.otf") format("opentype");
}
@font-face {
    font-family: 'circeThin';
    src: url("assets/font/circeThin.otf") format("opentype");
}
*/
@font-face {
    font-family: 'maven_problack';
    src: url('../fonts/mavenpro-black-webfont.eot');
    src: url('../fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro-black-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro-black-webfont.woff') format('woff'),
    url('../fonts/mavenpro-black-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_probold';
    src: url('../fonts/mavenpro-bold-webfont.eot');
    src: url('../fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro-bold-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro-bold-webfont.woff') format('woff'),
    url('../fonts/mavenpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_promedium';
    src: url('../fonts/mavenpro-medium-webfont.eot');
    src: url('../fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro-medium-webfont.woff') format('woff'),
    url('../fonts/mavenpro-medium-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_proregular';
    src: url('../fonts/mavenpro-regular-webfont.eot');
    src: url('../fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro-regular-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro-regular-webfont.woff') format('woff'),
    url('../fonts/mavenpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light100';
    src: url('../fonts/mavenprolight-100-webfont.eot');
    src: url('../fonts/mavenprolight-100-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenprolight-100-webfont.woff2') format('woff2'),
    url('../fonts/mavenprolight-100-webfont.woff') format('woff'),
    url('../fonts/mavenprolight-100-webfont.ttf') format('truetype'),
    url('../fonts/mavenprolight-100-webfont.svg#maven_pro_light100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light200';
    src: url('../fonts/mavenprolight-200-webfont.eot');
    src: url('../fonts/mavenprolight-200-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenprolight-200-webfont.woff2') format('woff2'),
    url('../fonts/mavenprolight-200-webfont.woff') format('woff'),
    url('../fonts/mavenprolight-200-webfont.ttf') format('truetype'),
    url('../fonts/mavenprolight-200-webfont.svg#maven_pro_light200') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maven_pro_light300';
    src: url('../fonts/mavenprolight-300-webfont.eot');
    src: url('../fonts/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenprolight-300-webfont.woff2') format('woff2'),
    url('../fonts/mavenprolight-300-webfont.woff') format('woff'),
    url('../fonts/mavenprolight-300-webfont.ttf') format('truetype'),
    url('../fonts/mavenprolight-300-webfont.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../fonts/sf/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../fonts/sf/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../fonts/sf/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../fonts/sf/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF-UI';
    src: url('../fonts/sf/SF-UI-Display-Black.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF-UI';
    src: url('../fonts/sf/SF-UI-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF-UI';
    src: url('../fonts/sf/SF-UI-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI';
    src: url('../fonts/sf/SF-UI-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF-UI';
    src: url('../fonts/sf/SF-UI-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial.ttf') format('truetype');
}
