.login_no_metamask {
  width: 1110px;
}
.login_no_metamask_title {
  font-size: 2.6em;
  color: #e84c4c;
  text-transform: uppercase;
  padding-left: 50px !important;
  text-align: center;
  background: url(../../img/Warning.png) no-repeat left center;
  line-height: 1;
  margin-bottom: 45px;
}

.login_no_metamask_title {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login_no_metamask_text {
  font-size: 2.3em;
  text-align: center;
  color: #e1e1e1;
  margin-bottom: 40px;
}
.metamask_link_wrapper {
  padding-top: 15px;
}
.metamask_link {
  transition-property: opacity, background-color;
  transition-duration: 400ms;
}
.metamask_link:hover {
  opacity: .8;
}
.metamask_text_title {
  font-size: 2.5em;
  text-align: left;
  color: #e8821e;
}
.metamask_text_title.cipher {
  color: #3646a7;
}
.metamask_text_wrapper {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.metamask_text {
  font-size: 2em;
  text-align: left;
  color: #e1e1e1;
}

.metamask_link_img {
  max-width: 100%;
}
@media only screen and (max-width: 1400px) {
  .login_no_metamask_title {
    background-size: contain;
  }
}
@media only screen and (max-width: 1400px) {
  .login_no_metamask {
    width: 1010px;
  }
}
@media only screen and (max-width: 1200px) {
  .login_no_metamask {
    max-width: 1010px;
    width: auto;
  }
}
@media only screen and (max-width: 1030px) {
  .login_no_metamask {
    max-width: 1010px;
    width: auto;
  }
  .metamask_text_title, .metamask_text {
    text-align: center;
  }
  .metamask_link_img {
    margin-bottom: 30px;
  }

}
.cipher_link_img {
  width: 100px;
}
@media only screen and (max-width: 992px) {
  .metamask_link_wrapper, .metamask_text_title, .metamask_text {
    text-align: center;
  }
  .metamask_link_wrapper {
    margin-bottom: 25px;
  }
  .metamask_link_wrapper, .metamask_text_wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 670px) {
  .login_no_metamask_text {
    padding: 0 20px;
  }
  .login_no_metamask_title {
    padding-left: 0 !important;
    background: none;
    width: 330px;
  }
}
@media only screen and (max-width: 470px) {
  .login_no_metamask_title {
      width: 310px;
  }
  .login_title_wrapper {
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 370px) {
  .login_no_metamask_title {
    font-size: 2em;
    width: 250px;    
  }
}
