.page_wrapper_full
{
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 100%;
  background: #1f2225;
  height: 100%;
}
.page_wrapper
{
  position: relative;
  z-index: 1;
  background: #1f2225;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.page_cols_wrapper
{
  height: 100%;
}
