html
{
  color: white;
  background: #1f2225;
  min-width: 300px;
  height: 100%;
}
body
{
  font-family: 'maven_proregular';
  font-size: 10px;
  min-width: 300px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
