@font-face {
font-family: 'maven_problack';
src: url('./fonts/mavenpro-black-webfont.eot');
src: url('./fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenpro-black-webfont.woff2') format('woff2'),
url('./fonts/mavenpro-black-webfont.woff') format('woff'),
url('./fonts/mavenpro-black-webfont.ttf') format('truetype'),
url('./fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_probold';
src: url('./fonts/mavenpro-bold-webfont.eot');
src: url('./fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenpro-bold-webfont.woff2') format('woff2'),
url('./fonts/mavenpro-bold-webfont.woff') format('woff'),
url('./fonts/mavenpro-bold-webfont.ttf') format('truetype'),
url('./fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_promedium';
src: url('./fonts/mavenpro-medium-webfont.eot');
src: url('./fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenpro-medium-webfont.woff2') format('woff2'),
url('./fonts/mavenpro-medium-webfont.woff') format('woff'),
url('./fonts/mavenpro-medium-webfont.ttf') format('truetype'),
url('./fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_proregular';
src: url('./fonts/mavenpro-regular-webfont.eot');
src: url('./fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenpro-regular-webfont.woff2') format('woff2'),
url('./fonts/mavenpro-regular-webfont.woff') format('woff'),
url('./fonts/mavenpro-regular-webfont.ttf') format('truetype'),
url('./fonts/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_pro_light100';
src: url('./fonts/mavenprolight-100-webfont.eot');
src: url('./fonts/mavenprolight-100-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenprolight-100-webfont.woff2') format('woff2'),
url('./fonts/mavenprolight-100-webfont.woff') format('woff'),
url('./fonts/mavenprolight-100-webfont.ttf') format('truetype'),
url('./fonts/mavenprolight-100-webfont.svg#maven_pro_light100') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_pro_light200';
src: url('./fonts/mavenprolight-200-webfont.eot');
src: url('./fonts/mavenprolight-200-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenprolight-200-webfont.woff2') format('woff2'),
url('./fonts/mavenprolight-200-webfont.woff') format('woff'),
url('./fonts/mavenprolight-200-webfont.ttf') format('truetype'),
url('./fonts/mavenprolight-200-webfont.svg#maven_pro_light200') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'maven_pro_light300';
src: url('./fonts/mavenprolight-300-webfont.eot');
src: url('./fonts/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
url('./fonts/mavenprolight-300-webfont.woff2') format('woff2'),
url('./fonts/mavenprolight-300-webfont.woff') format('woff'),
url('./fonts/mavenprolight-300-webfont.ttf') format('truetype'),
url('./fonts/mavenprolight-300-webfont.svg#maven_pro_light300') format('svg');
font-weight: normal;
font-style: normal;
}
html
{
  color: white;
  min-width: 300px;
  height: 100%;
}
body
{
  font-family: 'maven_proregular';
  font-size: 10px;
  min-width: 300px;
  height: 100%;
  background: #1f2225;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
